/* ------------------------------
　　ベース
------------------------------ */
body {
	color: #333;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial, Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,Meiryo,メイリオ,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	background: #FFF;
	@include font-size(14);
}

/* リンクの設定 */
a {
	color: #006DD9;
	text-decoration: none;
	border: none;
}
a:visited {
	color: #7F5AD7;
	text-decoration: none;
}
a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}

/* コンテナー */
.acms-container {
	max-width: $container;
	padding-right: ($grid-space/2);
	padding-left: ($grid-space/2);
	@if ($enable-iphonex == true) {
		padding-right: calc(#{($grid-space/2)} + constant(safe-area-inset-right));
		padding-left: calc(#{($grid-space/2)} + constant(safe-area-inset-left));
	}
	.acms-container {
		padding: 0;
	}
}
.narrow-container {
	max-width: $narrow-container;
	margin: 0 auto;
	padding-right: ($grid-space/2);
	padding-left: ($grid-space/2);
	@if ($enable-iphonex == true) {
		padding-right: calc(#{($grid-space/2)} + constant(safe-area-inset-right));
		padding-left: calc(#{($grid-space/2)} + constant(safe-area-inset-left));
	}
}
