/* ------------------------------
　　お問い合わせ
------------------------------ */
.contact-box {
	.message-group {
		margin: 0 0 35px 0;
	}
	.message-text {
		color: $primary-color;
		font-weight: bold;
	}
	.contact-no {
		margin: 0;
		color: #333;
		font-weight: bold;
		@include font-size(30);
		a {
			color: inherit;
		}
	}
	.error-text {
		/* エラー文 */
		margin: 5px 0 0 0;
		color: $primary-color;
	}
}

.contact-form {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	background: #E5E5E5;
}
.contact-form-group {
	background: #E5E5E5;
}
.contact-form-label {
	display: block;
	margin: 0;
	padding: 10px 10px 0 10px;
	text-align: left;
}
.contact-form-control {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #FFF;
}
.contact-form-label {
	font-weight: bold;
}
.contact-form-grid {
	margin: 0 -5px;
}
.contact-form-col,
.acms-entry .contact-form-col {
	margin: 0 0 10px 0;
	padding: 0 5px;
	&:last-child {
		margin: 0;
	}
}
@media screen and (min-width: $breakpoint-md-min){
	.contact-form {
		display: table;
		width: 100%;
	}
	.contact-form-group {
		display: table-row;
	}
	.contact-form-label,
	.contact-form-control {
		display: table-cell;
	}

	.contact-form-label {
		width: (1/3) * 100%;
		padding: 15px;
		vertical-align: top;
		border-bottom: 1px solid #FFF;
	}
	.contact-form-control {
		width: (2/3) * 100%;
		padding: 15px;
	}
	.contact-form-col {
		margin: 0;
	}
}


/* ステップ
------------------------------ */
.contact-box {
	.mail-step {
		margin: 0 0 35px 0;
		padding: 0 10px;
		background: $base-color;
		/* カウンターの設定 */
		counter-reset: mailStep;
	}
	.mail-step-item {
		float: left;
		margin: 0 10px;
		padding: 18px 0 14px;
		color: #999;
		font-weight: bold;
		list-style: none;
		border-bottom: 4px solid transparent;
		@include font-size(16);
		 &:before {
			content: counter(mailStep)".";
			/* カウンターの設定 */
			counter-increment: mailStep;
		}
	}
	.mail-step-item-current {
		color: #333;
		border-bottom: 4px solid $secondary-color;
	}
	@media screen and (min-width: $breakpoint-md-min){
		.mail-step {
			height: 60px;
		}
	}
}
/* 送信ボタン
------------------------------ */
.form-btn-box {
	margin: 0 10px 50px 10px;
	text-align: center;
}
.form-btn {
	display: inline-block;
}
@media screen and (min-width: $breakpoint-md-min){
	.form-btn {
	}
	.form-btn-send {
		width: 100%;
		max-width: 360px;
	}
}


/* ラベル
------------------------------ */
.label-required {
	margin: 0 5px;
	padding: 2px 8px;
	color: #FFF;
	background: $primary-color;
	border-radius: 3px;
	@include font-size(12);
}
@media screen and (min-width: $breakpoint-md-min){
	.label-required {
		float: right;
	}
}


/* フォーム要素
------------------------------ */
.contact-box {
	select {
		&[required]:required {
			border: 1px solid #C49511;
		}
		&.focused:invalid {
			border: 1px solid #c41134;
		}
		&[required]:valid {
			border: 1px solid #A7A7AA;
		}
	}
	input,
	textarea {
		&[required]:required {
			background: #FFFDEB;
		}
		&.focused:invalid {
			background: #FFEBEE;
		}
		&[required]:valid {
			background: #FFF;
		}
	}

	// 入力欄をスマホのサイズのままにする
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"]{
		@include font-size(16);
		box-sizing: border-box;
		padding: 0 5px;
}

	textarea {
		@include font-size(16);
		padding: 5px 5px 4px;
	}

	select {
		min-height: 32px;
		padding-top: 6px;
		padding-bottom: 5px;
		@include font-size(16);
		vertical-align: top;
	}
}


/* バリデーター
------------------------------ */
.valid-mark {
	display: none;
}
.valid-mark.valid {
	display: inline;
	float: right;
	color: #5cb85c;
}
.invalid {
	background: #ffebee !important;
}
