/* ------------------------------
　　エントリー
------------------------------ */
.entry {
	margin: 0 0 $entry-margin-bottom 0;
	border-bottom: 1px solid $base-color;
}

.page-header {
	margin: 0 0 20px 0;
}

.entry-info {
	margin-top: 0;
	@include font-size(14);
}
/* カテゴリーと新着ラベル */
.entry-category,
.entry-new {
	@include font-size(14);
}
/* タイトル */
.entry-title {
	margin: 10px 0;

	a {
		color: #333;
	}

	.acms-entry h2 & {
		padding: 0;
	}
}


/* エントリーのスタイル */
.#{$entry-class} {
	color: #333;
	word-wrap: break-word;

	h2 {
		margin: 0 ($grid-space/2) $entry-element-margin-bottom-md ($grid-space/2);
		padding: 5px 10px;
		@include font-size(20);
		color: #666;
		border-left: 4px solid #666;

		&.module-heading {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}

	h3 {
		margin: 0 ($grid-space/2) 20px ($grid-space/2);
		padding: 5px 10px;
		@include font-size(18);
		color: #333;
		background: $base-color;
	}

	h4 {
		margin: 0 ($grid-space/2) 20px ($grid-space/2);
		@include font-size(18);
		color: #333;
	}

	a {
		&:link {
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}

		&:visited {
			color: #7f5ad7;
			text-decoration: none;
		}
	}
}

/* 本文 */
.#{$entry-class} {
	p {
		margin-top: 0;
		margin-bottom: $entry-element-margin-bottom-lg;
		@include font-size(16);
		line-height: 1.7;

		&.entry-danger-text {
			color: #c41134;
			font-weight: bold;
		}
		&.summary-title {
			margin: 0 0 10px 0;
		}

		&.summary-detail {
			margin: 0 0 10px 0;
			@include font-size(14);
		}
	}
}

/* エントリー内コンテナー */
//  幅いっぱいの要素の両端のガターを確保します
.entry-container {
	margin: 0 (($grid-space/2) / 2);
}

[class^=column-table] .entry-container {
	margin-bottom: $entry-element-margin-bottom-lg;
	overflow-x: auto;
}

[class^=column-table] table {
	margin-bottom: 0;
}

/* テーブル */
.#{$entry-class} {
	table {
		width: 100%;
		border-collapse: collapse;
	}

	th,
	td {
		display: block;
		padding: 5px 10px;
		color: #333;
		line-height: 1.5;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid #dfdfdf;
		@include font-size(16);
	}

	.acms-table-responsive {
		border-top: 0;
		border-bottom: 0;

		th,
		td {
			display: table-cell;
			white-space: nowrap;
		}

		table {
			margin: 0;
		}
	}

	th {
		background: #f5f5f5;
	}

	.entry-custom-table {
		margin-bottom: $entry-margin-bottom;
	}
}
@media screen and (min-width: $breakpoint-md-min) {
	.#{$entry-class} {
		th,
		td {
			display: table-cell;
			padding: 15px 20px;
			text-align: left;
			@include font-size(16);
			border-top: 1px solid #dfdfdf;
		}

		th {
			background: inherit;
		}

		tr:nth-child(odd) {
			background: #f5f5f5;
		}
	}
}

/* リスト */
.#{$entry-class} {
	ul {
		margin: 0 0 $entry-element-margin-bottom-md 0;
		padding: 0 0 0 2em;

		li {
			margin: 0 0 5px 0;
			@include font-size(16);
			line-height: 1.5;
		}

		&.summary-default {
			padding: 0;

			li {
				margin: 0;
			}
		}
	}
}

/* 番号付きリスト */
.#{$entry-class} {
	ol {
		margin: 0 0 $entry-element-margin-bottom-md 0;
		padding: 0 0 0 2.5em;

		li {
			margin: 0 0 5px 0;
			@include font-size(16);
			line-height: 1.5;
		}
	}
}

/* 定義リスト */
.#{$entry-class} {
	dl {
		margin-top: 0;
		margin-bottom: $entry-element-margin-bottom-lg;
		@include font-size(16);
		line-height: 1.5;
	}

	dt {
		margin: 0 0 5px 0;
		@include font-size(16);
		font-weight: bold;
		line-height: 1.2;
	}

	dd {
		margin-bottom: 10px;
		margin-left: 0;
		line-height: 1.5;
		@include font-size(16);
	}
}

/* 引用 */
.#{$entry-class} {
	blockquote {
		box-sizing: border-box;
		width: 100%;
		margin-bottom: $entry-element-margin-bottom-lg;
		padding: 20px 10px 20px 20px;
		line-height: 1.8;
		background: #F5F5F5;
		border-left: 5px solid #DEDEDE;
		@include font-size(16);
	}

	.column-quote-auto {
		blockquote {
			padding: 10px;
			border: 1px solid #D0D0D0;
		}
		.quoteTitleLink {
			color: #333;
		}
	}
}
@media screen and (min-width: $breakpoint-sm-min){
	/* 引用 */
	.#{$entry-class} {
		blockquote {
			padding: 20px 20px 20px 30px;
		}
		.column-quote-auto {
			blockquote {
				padding: 15px;
			}
		}
	}
}

/* ソースコード */
.#{$entry-class} {
	pre {
		width: 100%;
		margin: 0 0 $entry-element-margin-bottom-lg 0;
		font-family: $acms-code-font-family;
		white-space: pre-wrap;
		box-sizing: border-box;

		ol {
			margin: 0;
			padding: 0 0 0 2.5em;

			li {
				line-height: 1.5;
			}
		}
	}
}

/* 区切り線 */
.#{$entry-class} {
	hr {
		border: 0;
		border-bottom: 1px solid $base-color;
	}
}

/* ユニット */
.#{$entry-class} {
	.caption {
		margin: 0 0 20px 0;
		@include font-size(13);
	}
}

.column-file-auto + .caption {
	margin-left: ($grid-space/2);
}

.column-module {
	margin: 0 ($grid-space/2);
}

/* ユニットグループ */
.ug-bg-color {
	margin: 0 ($grid-space/2) $entry-margin-bottom ($grid-space/2);
	padding: 20px 10px;
	background: #F5F5F5;

	*:last-child {
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: $entry-element-margin-bottom-sm;
		padding-top: 0;
		padding-bottom: 0;
	}
	h3,
	h4{
		margin-bottom: $entry-element-margin-bottom-sm;
	}
}
@media screen and (min-width: $breakpoint-sm-min){
	.ug-bg-color {
		padding: 25px 15px;
	}
}

/* スタッフ紹介 */
.#{$entry-class} {
	.staff-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 ($grid-space/2) 30px;
		padding: 0;
		list-style: none;
		border-top: 1px solid #EEE;
	}
	.staff-item {
		width: 50%;
		margin: 0;
	}
	.staff-inner {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding:  20px 10px;
		border-bottom: 1px solid #EEE;
	}
	.staff-body {
		order: 2;
		margin: 0 0 20px 0;
	}
	.staff-name {
		margin: 0 0 15px 0;
		padding: 0;
		line-height: 1.3;
		text-align: center;
		background: 0;
		@include font-size(20);
	}
	.staff-job {
		margin:  15px 0 5px 0;
		@include font-size(14);
		line-height: 1.3;
		text-align: center;
	}
	.staff-profile {
		margin: 0;
		@include font-size(14);
	}
	.staff-img-wrap {
		order: 1;
	}
	.staff-img {
		display: block;
		margin: 0 auto;
		border-radius: 100%;
	}
}
@media screen and (min-width: $breakpoint-md-min){
	.#{$entry-class} {
		.staff-item {
			width: 25%;
		}
		.staff-body {
			margin: 0;
		}
	}
}

/* エントリーフッター */
.entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #f5f5f5;
}
/* タグ */
.entry-tag {
	margin: 0 0 5px 0;
}

.entry-tag-icon {
	float: left;
	color: #707070;
}

.entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper {
	float: right;
}

.share-text {
	display: inline;
	float: left;
	margin: 0;
}
/* SNSシェアボタン */
.share-list {
	display: inline-flex;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.share-item {
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;

	a {
		color: #999;
		text-decoration: none;
	}

	[class*='acms-icon'] {
		@include font-size(22);
		vertical-align: middle;
	}

	.share-item-facebook {/* Facebook */
		@include share-sns-btn($facebook-color);
	}

	.share-item-twitter {/* Twitter */
		@include share-sns-btn($twitter-color);
	}
}

/* 続きを読むボタン */
.continue-link {
	margin: 0;
	@include font-size(16);
}

.continue-link a {
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	line-height: 1.5;
	background: #767676;
	border-radius: 3px;

	[class*='acms-icon'] {
		margin: 0 10px 0 0;
	}

	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		text-decoration: none;
		background: #aaa;
	}
}

@media screen and (min-width: $breakpoint-md-min) {
	/* タグ */
	.entry-tag {
		margin: 0;
	}
	/* 続きを読むボタン */
	.continue-link a {
		padding: 5px 10px;
		font-weight: normal;
	}
}
