<!-- BEGIN_MODULE Entry_Body -->
<!-- BEGIN notFound -->
<section class="acms-entry">
	<h2 class="not-found-title">Not Found</h2>
	<p>ただいまページを準備しております。もうしばらくお待ちください。</p>
</section>
<!-- END notFound -->

<!-- 1記事▼▼ -->
<!-- BEGIN entry:loop -->
<div class="acms-box-medium">
@include("/admin/entry/revision-info.html")
</div>
<article class="entry clearfix {entry:loop.class}">
	@include("/admin/entry/title.html")

	<!-- エントリーのタイトル　開始▼▼ -->
	<!-- BEGIN title:veil -->
	<header class="acms-page-header page-header">
		<!-- BEGIN_MODULE Touch_Entry --><h1 class="entry-title"><a href="{titleUrl}">{title}</a></h1><!-- END_MODULE Touch_Entry --><!-- BEGIN_MODULE Touch_NotEntry --><h2 class="entry-title"><a href="{titleUrl}">{title}[raw]</a></h2><!-- END_MODULE Touch_NotEntry -->
	</header>
	<!-- END title:veil -->

	<!-- BEGIN entry-column:veil -->
	<div class="acms-entry entry-column">
		<div class="acms-grid">
			<!-- BEGIN unit:veil -->
			@include("/include/unit.html")
			<hr class="clearHidden" />
			<!-- END unit:veil -->
			<!-- 続きを読む -->
			@include("/include/parts/continue.html")
		</div>
	</div>
	<!-- END entry-column:veil -->

	<!-- BEGIN formBody -->
	@include("/include/form/unit.html")
	<hr class="clearHidden" />
	<!-- END formBody -->

	@include("/admin/entry/edit-%{IS_ADMIN}.html")

	<!-- BEGIN_MODULE Touch_Entry -->
	<footer class="entry-footer">
	<div class="clearfix">
		<div class="entry-tag-wrapper acms-col-md-6">
			<!-- BEGIN tag:veil -->
			<dl class="entry-tag">
				<dt class="acms-inline-space entry-tag-icon"><span class="acms-icon-tag"></span><span class="acms-hide-visually">タグ</span></dt>
				<!-- BEGIN tag:loop -->
				<dd class="entry-tag-item"><a href="{url}">{name}</a></dd>
				<!-- END tag:loop -->
			</dl><!-- END tag:veil -->
		</div>
		<div class="acms-col-md-6">
			<!-- SNSシェアボタン -->
			@include("/include/parts/sns-customize.html")
		</div>
	</div>
	</footer>
	<!-- END_MODULE Touch_Entry -->

	<div class="acms-box-medium">
	@include("/admin/entry/action.html")
	</div>
</article>
<!-- END entry:loop -->
<!-- 1記事▲▲ -->

<!-- ページャー -->
@include("/include/parts/pager.html")

<!-- END_MODULE Entry_Body -->
