<!-- BEGIN_MODULE Entry_Body -->
	<!-- BEGIN notFound -->
	<section class="acms-entry">
		<h1 class="not-found-title">Not Found</h1>
		<p>ただいまページを準備しております。もうしばらくお待ちください。</p>
	</section>
	<!-- END notFound -->

	<!-- 1記事▼▼ -->
	<!-- BEGIN entry:loop -->
	<div class="acms-box-medium">
	@include("/admin/entry/revision-info.html")
	</div>
	<article class="entry clearfix">
		@include("admin/entry/title.html")
		<!-- BEGIN title:veil -->
		<!-- エントリーのタイトル　開始▼▼ -->
		<header class="acms-page-header page-header clearfix">
			<h1 class="entry-title"><a href="{titleUrl}">{title}</a></h1>
		</header>
		<!-- END title:veil -->

		<div class="acms-entry entry-column">
			<div class="acms-grid">

				<!-- BEGIN main_photo:veil -->
				<div class="acms-col-12">
					<div class="column-image-auto">
						<a href="%{MEDIA_ARCHIVES_DIR}{main_photo@path}" data-rel="SmartPhoto[custom]"><img src="%{MEDIA_ARCHIVES_DIR}{main_photo@path}[resizeImg(820)]" alt="メイン物件写真：クリックして拡大画像を表示する"></a>
						<!-- BEGIN main_caption:veil --><p class="caption">{main_caption}</p><!-- END main_caption:veil -->
					</div>
				</div>
				<!-- END main_photo:veil -->

				<!-- BEGIN sub_photo01:veil -->
				<div class="acms-col-md-4">
					<div class="column-image-left">
						<a href="%{MEDIA_ARCHIVES_DIR}{sub_photo01@path}" data-rel="SmartPhoto[custom]">
							<img class="columnImage" src="%{MEDIA_ARCHIVES_DIR}{sub_photo01@path}[resizeImg(260)]" alt="サブ物件写真：クリックして拡大画像を表示する" width="{sub_photo01@x}" height="{sub_photo01@y}" />
						</a>
						<!-- BEGIN sub_caption01:veil --><p class="caption">{sub_caption01}</p><!-- END sub_caption01:veil -->
					</div>
				</div>
				<!-- END sub_photo01:veil -->

				<!-- BEGIN sub_photo02:veil -->
				<div class="acms-col-md-4">
					<div class="column-image-left">
						<a href="%{MEDIA_ARCHIVES_DIR}{sub_photo02@path}" data-rel="SmartPhoto[custom]">
							<img class="columnImage" src="%{MEDIA_ARCHIVES_DIR}{sub_photo02@path}[resizeImg(260)]" alt="サブ物件写真：クリックして拡大画像を表示する" width="{sub_photo02@x}" height="{sub_photo02@y}" />
						</a>
						<!-- BEGIN sub_caption02:veil --><p class="caption">{sub_caption02}</p><!-- END sub_caption02:veil -->
					</div>
				</div>
				<!-- END sub_photo02:veil -->

				<!-- BEGIN sub_photo03:veil -->
				<div class="acms-col-md-4">
					<div class="column-image-left">
						<a href="%{MEDIA_ARCHIVES_DIR}{sub_photo03@path}" data-rel="SmartPhoto[custom]">
							<img class="columnImage" src="%{MEDIA_ARCHIVES_DIR}{sub_photo03@path}[resizeImg(260)]" alt="サブ物件写真：クリックして拡大画像を表示する" width="{sub_photo03@x}" height="{sub_photo03@y}" />
						</a>
						<!-- BEGIN sub_caption03:veil --><p class="caption">{sub_caption03}</p><!-- END sub_caption03:veil -->
					</div>
				</div>
				<!-- END sub_photo03:veil -->

				<!-- BEGIN sub_photo03:veil -->
				<div class="acms-col-md-4">
					<div class="column-image-left">
						<a href="%{MEDIA_ARCHIVES_DIR}{sub_photo03@path}" data-rel="SmartPhoto[custom]">
							<img class="columnImage" src="%{MEDIA_ARCHIVES_DIR}{sub_photo03@path}[resizeImg(260)]" alt="サブ物件写真：クリックして拡大画像を表示する" width="{sub_photo03@x}" height="{sub_photo03@y}" />
						</a>
						<!-- BEGIN sub_caption03:veil --><p class="caption">{sub_caption03}</p><!-- END sub_caption03:veil -->
					</div>
				</div>
				<!-- END sub_photo03:veil -->

				<!-- BEGIN sub_photo04:veil -->
				<div class="acms-col-md-4">
					<div class="column-image-left">
						<a href="%{MEDIA_ARCHIVES_DIR}{sub_photo04@path}" data-rel="SmartPhoto[custom]">
							<img class="columnImage" src="%{MEDIA_ARCHIVES_DIR}{sub_photo04@path}[resizeImg(260)]" alt="サブ物件写真：クリックして拡大画像を表示する" width="{sub_photo04@x}" height="{sub_photo04@y}" />
						</a>
						<!-- BEGIN sub_caption04:veil --><p class="caption">{sub_caption04}</p><!-- END sub_caption04:veil -->
					</div>
				</div>
				<!-- END sub_photo04:veil -->

				<!-- BEGIN table:veil -->
				<div class="acms-col-12">
					<div class="entry-container">
						<div class="acms-table-responsive acms-margin-bottom-medium">
							<table class="acms-table">
								<tr>
									<th>所在地</th>
									<th>最寄駅</th>
									<th>徒歩</th>
									<th>区分</th>
									<th>階/階建</th>
								</tr>
								<tr>
									<td>{address}</td>
									<td>{station}</td>
									<td><!-- BEGIN toho:veil -->{toho}分<!-- END toho:veil --></td>
									<td>{kubun}</td>
									<td><!-- BEGIN kai:veil -->{kai}階<!-- END kai:veil -->
									<!-- BEGIN kaidate:veil --> / {kaidate}階建<!-- END kaidate:veil --></td>
								</tr>
							</table>
						</div>
						<div class="acms-table-responsive acms-margin-bottom-medium">
							<table class="acms-table">
								<tr>
									<th>家賃</th>
									<th>管理費等</th>
									<th>敷金/礼金</th>
									<th>間取</th>
									<th>専有面積</th>
									<th>築年数</th>
								</tr>
								<tr>
									<td><!-- BEGIN price:veil -->{price}[number_format]円<!-- END price:veil --></td>
									<td><!-- BEGIN kanri:veil -->{kanri}[number_format]円<!-- END kanri:veil --></td>
									<td>{shiki} / {rei}</td>
									<td>{madori}</td>
									<td><!-- BEGIN menseki:veil -->{menseki}m<sup>2</sup><!-- END menseki:veil --></td>
									<td><!-- BEGIN chikunen:veil -->{chikunen}年<!-- END chikunen:veil --></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- END table:veil -->

				<!-- BEGIN lat:veil -->
				<div class="realestate-map realestate-map-entry" style="margin-bottom:20px">
					<div class="js-open-street-map" data-lat="{map_lat}" data-lng="{map_lng}" data-zoom="{map_zoom}" style="width: 857px; height: 300px;"></div>
				</div>
				<!-- END lat:veil -->
			</div>

			<!-- BEGIN unit:veil -->
			@include("/include/unit.html")
			<hr class="clearHidden" />
			<!-- END unit:veil -->
			<!-- BEGIN continueLink:veil -->
			<p><a href="{continueUrl}">「{continueName}」の続きを読む</a></p>
			<!-- END continueLink:veil -->

		</div>

		<!-- BEGIN formBody -->
		@include("/include/form/unit.html")
		<hr class="clearHidden" >
		<!-- END formBody -->

		@include("/admin/entry/edit-%{IS_ADMIN}.html")

		<!-- BEGIN_MODULE Touch_Entry -->
		<!-- BEGIN tag:veil -->
		<footer class="entry-footer">
			<div class="clearfix">
				<dl class="entry-tag">
					<dt class="acms-inline-space entry-tag-icon"><span class="acms-icon-tag"></span><span class="acms-hide-visually">タグ</span></dt>
					<!-- BEGIN tag:loop -->
					<dd class="entry-tag-item acms-inline-space"><a href="{url}">{name}</a></dd>
					<!-- END tag:loop -->
				</dl>
			</div>
		</footer><!-- END tag:veil -->
		<!-- END_MODULE Touch_Entry -->

		@include("/admin/entry/action.html")

	</article>
	<!-- END entry:loop -->
	<!-- 1記事▲▲ -->

	<!-- ページャー -->
	@include("/include/module/entry/pager.html")
<!-- END_MODULE Entry_Body -->
