<!-- BEGIN_MODULE Entry_List id="top_list" -->
<div class="acms-margin-bottom-medium">
    @include("/admin/module/setting.html")
	<div class="module-header clearfix"><!-- BEGIN moduleField --><!-- BEGIN_IF [{module_heading}/nem] -->
		<h2 class="module-heading">{module_heading}</h2><!-- END_IF --><!-- END moduleField --><a href="{indexUrl}" class="module-index-link"><span class="acms-icon acms-icon-arrow-right"></span>一覧</a>
	</div>
    <ul class="acms-list-group">
        <!-- BEGIN entry:loop -->
        <li><a href="{url}" class="acms-list-group-item">{title}</a></li>
        <!-- END entry:loop -->
    </ul>
</div>
<!-- END_MODULE Entry_List -->