@charset "UTF-8";
/* ------------------------------
　　ベース
------------------------------ */
body {
	color: #333;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial, Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,Meiryo,メイリオ,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	background: #FFF;
	font-size: 14px;
}

/* リンクの設定 */
a {
	color: #006DD9;
	text-decoration: none;
	border: none;
}

a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}

/* コンテナー */
.acms-container {
	max-width: 1140px;
	padding-right: 10px;
	padding-left: 10px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}
.acms-container .acms-container {
	padding: 0;
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}

/* ------------------------------
　　アニメーション
------------------------------ */
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

/* ------------------------------
　　バナー
------------------------------ */
.banner {
	margin: 0;
	padding: 0;
	list-style: none;
}
.banner a {
	display: block;
	transition: opacity .25s ease-out;
}
.banner a:hover {
	opacity: .75;
}

.banner-list-item {
	margin: 0 0 20px 0;
}

/* ------------------------------
　　ボタン
------------------------------ */
.btn {
	background: #999;
	border: 0;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 3px;
}
.btn:hover,
.btn:visited {
	color: #FFF;
	text-decoration: none;
}
.btn:focus,
.btn:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn:hover {
	color: #FFF;
	background-color: #999;
	background-image: linear-gradient(to bottom, #C1C1C1, #999);
}
.btn:active,
.btn:focus {
	background: #878787;
}

/* ボタン　色付き */
.btn-attention {
	background: #FF9A00;
	border: 0;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 3px;
}
.btn-attention:hover,
.btn-attention:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention:focus,
.btn-attention:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention:hover {
	color: #FFF;
	background-color: #FF9A00;
	background-image: linear-gradient(to bottom, #FDD87D, #FF9A00);
}
.btn-attention:active,
.btn-attention:focus {
	background: #EDA800;
}

/* ボタンサイズ大 */
.btn-large {
	background: #999;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-large:hover,
.btn-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-large:focus,
.btn-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-large:hover {
	background: #777;
}
.btn-large:active,
.btn-large:focus {
	background: #878787;
}

/* ボタンサイズ大 色付き */
.btn-attention-large {
	background: #FF9A00;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-large:hover,
.btn-attention-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-large:focus,
.btn-attention-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-large:hover {
	background: #FF7E00;
}
.btn-attention-large:active,
.btn-attention-large:focus {
	background: #EDA800;
}

/* デスクトップ：最大360pxボタン */
.btn-block-large {
	width: 100%;
	background: #999;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-block-large:hover,
.btn-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-block-large:focus,
.btn-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-block-large:hover {
	background: #777;
}
.btn-block-large:active,
.btn-block-large:focus {
	background: #878787;
}

/* デスクトップ：最大360pxボタン 色付き */
.btn-attention-block-large {
	width: 100%;
	background: #FF9A00;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-block-large:hover,
.btn-attention-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-block-large:focus,
.btn-attention-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-block-large:hover {
	background: #FF7E00;
}
.btn-attention-block-large:active,
.btn-attention-block-large:focus {
	background: #EDA800;
}

@media (min-width: 768px) {
	.btn-block-large {
		max-width: 360px;
	}
	.btn-attention-block-large {
		max-width: 360px;
	}
}

@media (max-width: 767px) {
	.btn-search-block {
		display: block;
		width: 100%;
		max-width: 360px;
		margin: 0 auto;
		padding: 15px 20px;
		font-size: 20px;
	}
}

/* ボーダーボタン */
.home-btn {
	margin: 20px auto 10px;
}

.btn-border {
	display: inline-block;
	padding: 7px 10px;
	color: #333;
	border: 1px solid #CCC;
	border-radius: 4px;
	font-size: 16px;
}
.btn-border [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
}
.btn-border:hover {
	text-decoration: none;
}

/* ------------------------------
　　カード
------------------------------ */
.card {
	margin: 0 0 40px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #E5E5E5;
}

.card-item {
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}

.card-link {
	display: block;
	margin: 0 -10px;
	padding: 10px;
	color: #333;
}
.card-link:hover {
	text-decoration: none;
	background: #EEE;
	transition: background-color .25s linear;
}
.card-link:hover,
.card-link:visited,
.card-link:active,
.card-link:focus {
	color: #333;
}

.card-img {
	margin: 0 0 10px 0;
}

.card-title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

.card-detail {
	font-size: 13px;
}

/* ------------------------------
　　ヘッドライン
------------------------------ */
.headline-item {
	line-height: 1.5;
}

.headline-link {
	color: #333;
	transition: background-color .25s ease-out;
}
.headline-link:hover,
.headline-link:visited,
.headline-link:active,
.headline-link:focus {
	color: #333;
}
.headline-link:hover {
	padding: 10px;
	background: #F1F1F1;
}

.headline-title {
	margin: 0 10px;
}

@media screen and (max-width: 479px) {
	/* 画面幅が小さいとき */
	/* ヘッドライン */
	.headline-item {
		padding: 10px 0;
	}
	.headline-title {
		display: block;
		margin: 0;
	}
}

/* ------------------------------
　　リスト
------------------------------ */
@media screen and (min-width: 768px) {
	/* リスト */
	a.list-link.acms-list-group-item {
		padding: 10px 20px 10px 10px;
		transition: padding .15s ease-out;
	}
	a.list-link.acms-list-group-item:hover {
		padding: 10px 10px 10px 20px;
		transition: padding .25s ease-out;
	}
	/* ラベルがあったとき */
	a.list-link.acms-list-group-label-parent {
		padding: 10px 30px 10px 10px;
		transition: padding .15s ease-out;
	}
	a.list-link.acms-list-group-label-parent:hover {
		padding: 10px 30px 10px 20px;
	}
}

/* 検索結果 */
.list-results-wrap {
	margin: 15px 0 15px 0;
	padding: 10px;
	border: 1px solid #CCC;
}

.list-results-heading {
	margin: 0 0 10px 0;
	padding: 5px;
	background: #E5E5E5;
}

.list-results {
	position: relative;
	margin: 0;
}

.list-results-item {
	position: absolute;
	width: 100px;
}

.list-results-detail {
	margin: 0;
	padding: 0 0 0 100px;
	font-weight: bold;
}

/* ------------------------------
　　各モジュール
------------------------------ */
.module-section {
	margin: 0 0 30px 0;
}

/* タイトル */
.module-header {
	position: relative;
	margin: 0;
	padding: 5px 0;
	color: #333;
	border-bottom: 2px solid #333;
}
.module-header + .thumbnail,
.module-header + .summary-default,
.module-header + .entry-column,
.module-header + .card,
.module-header + .search-form,
.module-header + .banner {
	margin-top: 10px;
}

.module-heading {
	margin: 0;
	font-size: 18px;
}
.module-heading [class*="acms-icon-"] {
	margin: 0 10px 0 0;
	vertical-align: baseline;
}

a.module-index-link {
	position: absolute;
	right: 0;
	bottom: 5px;
	color: #333;
	font-size: 16px;
}
a.module-index-link [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
}

/* カスタムフィールドグループ */
.group-list {
	padding: 0 10px;
	list-style: none;
}

/* 行揃えの設定 */
/* 見出し */
.heading-align-left .group-heading {
	text-align: left;
}

.heading-align-center .group-heading {
	text-align: center;
}

.heading-align-right .group-heading {
	text-align: right;
}

/* 概要文 */
.detail-align-left .group-detail {
	text-align: left;
}

.detail-align-center .group-detail {
	text-align: center;
}

.detail-align-right .group-detail {
	text-align: right;
}

/* ボタン */
.btn-align-left .group-btn-wrap {
	text-align: left;
}

.btn-align-center .group-btn-wrap {
	text-align: center;
}

.btn-align-right .group-btn-wrap {
	text-align: right;
}

/* ------------------------------
　　ページタイトル
------------------------------ */
.page-title-wrapper {
	position: relative;
	display: table;
	width: 100%;
	height: 100px;
	color: #FFF;
	background: url(../../images/bg_other.jpg?v=2019122592154) #333 no-repeat center;
	background-size: cover;
}

.page-title-filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
}

.page-title-inner {
	position: relative;
	display: table-cell;
	padding: 15px 0;
	vertical-align: middle;
}

.page-title {
	margin: 0 0 10px 0;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2;
}
.page-title a {
	color: #FFF;
}

.page-description {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.page-title-wrapper {
		height: 270px;
	}
}

/* ------------------------------
　　ページャー
------------------------------ */
.pager {
	margin: 0 -5px 50px -5px;
	padding: 0;
	text-align: center;
	list-style: none;
}
.pager li {
	display: inline-block;
	margin: 0 5px;
}
.pager li.cur {
	/* 現在いる位置 */
	padding: 5px 20px;
	color: #FFF;
	background: #767676;
	border-radius: 3px;
}

.pager-link {
	display: block;
	padding: 5px 20px;
	color: #333;
	background: #E5E5E5;
	border-radius: 3px;
}
.pager-link:visited,
.pager-link:focus,
.pager-link:active {
	color: #333;
}
.pager-link:hover {
	color: #FFF;
	text-decoration: none;
	background: #333;
}

.pager-link-forward {
	float: right;
}

.pager-link-prev {
	float: left;
}

@media screen and (min-width: 768px) {
	.pager-link {
		padding: 5px 10px;
	}
	.pager li.cur {
		/* 現在いる位置 */
		padding: 5px 10px;
	}
}

/* 前後リンク */
.serial-nav {
	margin: -25px 0 60px 0;
	padding: 0;
	list-style: none;
}
.serial-nav .serial-nav-item {
	display: block;
	float: none;
}
.serial-nav .serial-nav-item-prev {
	text-align: left;
}
.serial-nav .serial-nav-item-next {
	text-align: right;
}
.serial-nav a {
	display: block;
	padding: 25px 0;
	color: #333;
	border-bottom: 1px solid #E5E5E5;
}
.serial-nav a:hover,
.serial-nav a:visited,
.serial-nav a:focus,
.serial-nav a:active {
	color: inherit;
	text-decoration: none;
}
.serial-nav a:hover {
	background: #E5E5E5;
}

@media screen and (min-width: 768px) {
	.serial-nav {
		margin: 0 0 60px 0;
		border: 0;
	}
	.serial-nav .serial-nav-item-prev {
		float: left;
	}
	.serial-nav .serial-nav-item-next {
		float: right;
	}
	.serial-nav a {
		display: inline;
		border: 0;
	}
	.serial-nav a:hover {
		text-decoration: underline;
		background: 0;
	}
}

/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form .btn-search {
	padding: 10px 20px;
	color: #FFF;
	background: #333;
	border: 1px solid #333;
	border-radius: 0 4px 4px 0;
	filter: none;
	/* IEでのグラデーションを上書き */
	font-size: 16px;
}
.search-form .btn-search:hover,
.search-form .btn-search:active,
.search-form .btn-search:focus {
	background: #666;
}

.search-form input[type="search"] {
	height: 40px;
	padding: 9px 10px;
	font-size: 16px;
	box-sizing: border-box;
}

input[type="search"].search-form-input {
	padding-top: 5px;
	padding-bottom: 4px;
	font-size: 20px;
	box-sizing: border-box;
}

/* ------------------------------
　　スライダー
------------------------------ */
.slick-slider {
	padding: 0 0 12px 0;
}
.slick-slider img {
	margin: 0 auto;
}

.fix-height {
	height: 300px;
	/* はじめのちらつき防止 */
	overflow: hidden;
	/* はじめのちらつき防止 */
}

.slick-slide:hover {
	cursor: pointer;
}

.slick-list:focus:focus {
	position: relative;
}
.slick-list:focus:focus:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border: 2px dotted #00C2FF;
	content: "";
}

.js-slider .slick-list:focus {
	position: relative;
}
.js-slider .slick-list:focus:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 2px dotted #00C2FF;
	content: "";
}

.main-slider-image {
	height: 300px;
	background: no-repeat center #333;
	background-size: cover;
}
.main-slider-image a:hover {
	text-decoration: none;
}

.main-slider-text-outer {
	height: 100%;
}

.main-slider-text-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.main-slider-text-inner {
	display: table-cell;
	padding: 0 20px;
	text-align: center;
	vertical-align: middle;
}

.main-slider-main-copy {
	margin: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
}

.main-slider-side-copy {
	margin: 0;
	color: #FFF;
	font-size: 16px;
}

/* ちらつき防止 */
.slick-track,
.slick-list {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
}

/* 矢印ナビゲーション */
.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	display: block;
	width: 19px;
	height: 60px;
	margin-top: -29px;
	padding: 0;
	color: transparent;
	font-size: 0;
	line-height: 0;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.slick-prev:focus,
.slick-next:focus {
	border: 1px dotted #FFF;
}

.slick-prev {
	left: 10px;
	background: url(../../images/marker/icon_white_arrow_left.png?v=2019122592154) no-repeat;
}

.slick-next {
	right: 10px;
	background: url(../../images/marker/icon_white_arrow_right.png?v=2019122592154) no-repeat;
}

/* ドットのナビゲーション */
.slick-dots {
	position: relative;
	clear: both;
	margin: -35px 0 0 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 8px;
	font-size: 0;
	background: #FFF;
	border: 1px solid transparent;
	border-radius: 7px;
	content: "";
}

.slick-dots li button:focus {
	border: 1px solid #C41134;
	outline: 0;
}

.slick-dots li:hover button {
	cursor: pointer;
}

.slick-dots li.slick-active button {
	background: #C41134;
}

.slick-dots button {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

#autoplay-btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 1;
	width: 50px;
	height: 50px;
	color: #FFF;
	background: rgba(0, 0, 0, .7);
	border: 0;
	border-radius: 50%;
	outline: 0;
	right: calc(10px + constant(safe-area-inset-right));
}
#autoplay-btn:hover {
	background: rgba(0, 0, 0, .9);
}
#autoplay-btn:active:before,
#autoplay-btn:focus:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px dotted #FFF;
	content: "";
}
#autoplay-btn:after {
	position: absolute;
	top: 15px;
	left: 17px;
	display: block;
	box-sizing: border-box;
	width: 16px;
	height: 20px;
	margin-left: 0;
	border-top: none;
	border-right: 5px solid #FFF;
	border-bottom: none;
	border-left: 5px solid #FFF;
	content: "";
}
#autoplay-btn.active:after {
	left: 15px;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-color: transparent transparent transparent #FFF;
	border-style: solid;
	border-width: 10px 0 10px 15px;
}

@media screen and (min-width: 768px) {
	.slick-prev {
		left: 50px;
	}
	.slick-next {
		right: 50px;
	}
	.fix-height {
		height: 400px;
		/* はじめのちらつき防止 */
	}
	.main-slider-image {
		height: 400px;
	}
	.main-slider-main-copy {
		font-size: 40px;
	}
	.main-slider-side-copy {
		font-size: 24px;
	}
}

/* ------------------------------
　　サマリー
------------------------------ */
.summary-default {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.summary-default:before,
.summary-default:after {
	display: table;
	content: " ";
}
.summary-default:after {
	clear: both;
}
.summary-default.slick-initialized {
	margin-right: -20px;
	margin-left: -20px;
	overflow: hidden;
	border: 0;
}
.summary-default .slick-list {
	padding: 0 0 0 20px;
	overflow: inherit;
}
.summary-default .slick-dots {
	margin: 0;
}
.summary-default .slick-dots button {
	background: #E5E5E5;
}
.summary-default .slick-dots .slick-active button {
	background: #C41134;
}

.summary-default-item {
	display: block;
	padding: 0 10px;
	color: #333;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	box-sizing: border-box;
	transition: background-color .25s ease-out;
}
.acms-entry .summary-default-item {
	padding: 10px;
}
.slick-initialized .summary-default-item {
	width: 280px;
	margin: 2px 10px 2px 2px;
	border: 0;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08), -1px -1px 1px 1px rgba(0, 0, 0, .08);
}

.summary-default-link {
	display: block;
	margin: 0 -10px;
	padding: 10px;
	color: #333;
	transition: background .2s;
}
.summary-default-link:hover,
.summary-default-link:visited,
.summary-default-link:active,
.summary-default-link:focus {
	color: #333;
}
.summary-default-link:hover {
	text-decoration: none;
	background: #F1F1F1;
}

.summary-title {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.summary-detail {
	margin: 0;
	line-height: 1.5;
	font-size: 13px;
}

@media screen and (min-width: 480px) {
	.summary-default {
		margin: 0 0 20px 0;
	}
}

/* ------------------------------
　　サムネイル
------------------------------ */
.thumbnail {
	margin: 0;
	padding: 0;
	list-style: none;
}

.thumbnail-item {
	transition: opacity .2s;
}
.thumbnail-item:hover {
	opacity: .75;
}

.thumbnail-link {
	display: block;
	color: #333;
}
.thumbnail-link:hover {
	color: #333;
	text-decoration: none;
}
.thumbnail-link:visited {
	color: #333;
}

.thumbnail-img {
	display: block;
	transition: opacity .25s ease-out;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.thumbnail-title {
	margin: 5px 0 10px;
	font-weight: bold;
	font-size: 15px;
}

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath {
	margin-bottom: 30px;
	padding: 10px 0;
	background: #F5F5F5;
}

.topicpath-list {
	margin: 0 auto;
	list-style: none;
}

.topicpath-item {
	float: left;
	padding: 0 10px 0 23px;
	background: url(../../images/marker/icon_arrow.png?v=2019122592154) no-repeat left center;
}
.topicpath-item:first-child {
	padding: 0 10px 0 0;
	background: 0;
}

.topicpath-link {
	color: #666;
	font-size: 14px;
}
.topicpath-link:visited,
.topicpath-link:focus,
.topicpath-link:active {
	color: #666;
}

/* ------------------------------
　　エントリー
------------------------------ */
.entry {
	margin: 0 0 25px 0;
	border-bottom: 1px solid #E5E5E5;
}

.page-header {
	margin: 0 0 20px 0;
}

.entry-info {
	margin-top: 0;
	font-size: 14px;
}

/* カテゴリーと新着ラベル */
.entry-category,
.entry-new {
	font-size: 14px;
}

/* タイトル */
.entry-title {
	margin: 10px 0;
}
.entry-title a {
	color: #333;
}
.acms-entry h2 .entry-title {
	padding: 0;
}

/* エントリーのスタイル */
.entry-column {
	color: #333;
	word-wrap: break-word;
}
.entry-column h2 {
	margin: 0 10px 25px 10px;
	padding: 5px 10px;
	font-size: 20px;
	color: #666;
	border-left: 4px solid #666;
}
.entry-column h2.module-heading {
	margin: 0;
	padding: 0;
	border: 0;
}
.entry-column h3 {
	margin: 0 10px 20px 10px;
	padding: 5px 10px;
	font-size: 18px;
	color: #333;
	background: #E5E5E5;
}
.entry-column h4 {
	margin: 0 10px 20px 10px;
	font-size: 18px;
	color: #333;
}
.entry-column a:link {
	text-decoration: none;
}
.entry-column a:hover,
.entry-column a:focus,
.entry-column a:active {
	text-decoration: underline;
}
.entry-column a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

/* 本文 */
.entry-column p {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.7;
}
.entry-column p.entry-danger-text {
	color: #C41134;
	font-weight: bold;
}
.entry-column p.summary-title {
	margin: 0 0 10px 0;
}
.entry-column p.summary-detail {
	margin: 0 0 10px 0;
	font-size: 14px;
}

/* エントリー内コンテナー */
.entry-container {
	margin: 0 5px;
}

[class^=column-table] .entry-container {
	margin-bottom: 30px;
	overflow-x: auto;
}

[class^=column-table] table {
	margin-bottom: 0;
}

/* テーブル */
.entry-column table {
	width: 100%;
	border-collapse: collapse;
}

.entry-column th,
.entry-column td {
	display: block;
	padding: 5px 10px;
	color: #333;
	line-height: 1.5;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DFDFDF;
	font-size: 16px;
}

.entry-column .acms-table-responsive {
	border-top: 0;
	border-bottom: 0;
}
.entry-column .acms-table-responsive th,
.entry-column .acms-table-responsive td {
	display: table-cell;
	white-space: nowrap;
}
.entry-column .acms-table-responsive table {
	margin: 0;
}

.entry-column th {
	background: #F5F5F5;
}

.entry-column .entry-custom-table {
	margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
	.entry-column th,
	.entry-column td {
		display: table-cell;
		padding: 15px 20px;
		text-align: left;
		font-size: 16px;
		border-top: 1px solid #DFDFDF;
	}
	.entry-column th {
		background: inherit;
	}
	.entry-column tr:nth-child(odd) {
		background: #F5F5F5;
	}
}

/* リスト */
.entry-column ul {
	margin: 0 0 25px 0;
	padding: 0 0 0 2em;
}
.entry-column ul li {
	margin: 0 0 5px 0;
	font-size: 16px;
	line-height: 1.5;
}
.entry-column ul.summary-default {
	padding: 0;
}
.entry-column ul.summary-default li {
	margin: 0;
}

/* 番号付きリスト */
.entry-column ol {
	margin: 0 0 25px 0;
	padding: 0 0 0 2.5em;
}
.entry-column ol li {
	margin: 0 0 5px 0;
	font-size: 16px;
	line-height: 1.5;
}

/* 定義リスト */
.entry-column dl {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.5;
}

.entry-column dt {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
}

.entry-column dd {
	margin-bottom: 10px;
	margin-left: 0;
	line-height: 1.5;
	font-size: 16px;
}

/* 引用 */
.entry-column blockquote {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px 10px 20px 20px;
	line-height: 1.8;
	background: #F5F5F5;
	border-left: 5px solid #DEDEDE;
	font-size: 16px;
}

.entry-column .column-quote-auto blockquote {
	padding: 10px;
	border: 1px solid #D0D0D0;
}

.entry-column .column-quote-auto .quoteTitleLink {
	color: #333;
}

@media screen and (min-width: 480px) {
	/* 引用 */
	.entry-column blockquote {
		padding: 20px 20px 20px 30px;
	}
	.entry-column .column-quote-auto blockquote {
		padding: 15px;
	}
}

/* ソースコード */
.entry-column pre {
	width: 100%;
	margin: 0 0 30px 0;
	font-family: Menlo, Monaco, "Courier New", monospace;
	white-space: pre-wrap;
	box-sizing: border-box;
}
.entry-column pre ol {
	margin: 0;
	padding: 0 0 0 2.5em;
}
.entry-column pre ol li {
	line-height: 1.5;
}

/* 区切り線 */
.entry-column hr {
	border: 0;
	border-bottom: 1px solid #E5E5E5;
}

/* ユニット */
.entry-column .caption {
	margin: 0 0 20px 0;
	font-size: 13px;
}

.column-file-auto + .caption {
	margin-left: 10px;
}

.column-module {
	margin: 0 10px;
}

/* ユニットグループ */
.ug-bg-color {
	margin: 0 10px 25px 10px;
	padding: 20px 10px;
	background: #F5F5F5;
}
.ug-bg-color *:last-child {
	margin-bottom: 0;
}
.ug-bg-color h2 {
	margin-bottom: 10px;
	padding-top: 0;
	padding-bottom: 0;
}
.ug-bg-color h3,
.ug-bg-color h4 {
	margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
	.ug-bg-color {
		padding: 25px 15px;
	}
}

/* スタッフ紹介 */
.entry-column .staff-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 10px 30px;
	padding: 0;
	list-style: none;
	border-top: 1px solid #EEE;
}

.entry-column .staff-item {
	width: 50%;
	margin: 0;
}

.entry-column .staff-inner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	box-sizing: border-box;
	padding: 20px 10px;
	border-bottom: 1px solid #EEE;
}

.entry-column .staff-body {
	-ms-flex-order: 2;
	order: 2;
	margin: 0 0 20px 0;
}

.entry-column .staff-name {
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 1.3;
	text-align: center;
	background: 0;
	font-size: 20px;
}

.entry-column .staff-job {
	margin: 15px 0 5px 0;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
}

.entry-column .staff-profile {
	margin: 0;
	font-size: 14px;
}

.entry-column .staff-img-wrap {
	-ms-flex-order: 1;
	order: 1;
}

.entry-column .staff-img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
}

@media screen and (min-width: 768px) {
	.entry-column .staff-item {
		width: 25%;
	}
	.entry-column .staff-body {
		margin: 0;
	}
}

/* エントリーフッター */
.entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #F5F5F5;
}

/* タグ */
.entry-tag {
	margin: 0 0 5px 0;
}

.entry-tag-icon {
	float: left;
	color: #707070;
}

.entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper {
	float: right;
}

.share-text {
	display: inline;
	float: left;
	margin: 0;
}

/* SNSシェアボタン */
.share-list {
	display: -ms-inline-flexbox;
	display: inline-flex;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.share-item {
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;
}
.share-item a {
	color: #999;
	text-decoration: none;
}
.share-item [class*="acms-icon"] {
	font-size: 22px;
	vertical-align: middle;
}
.share-item .share-item-facebook {
	/* Facebook */
	position: relative;
	color: #1877F2;
	line-height: 1.2;
}
.share-item .share-item-facebook:before {
	vertical-align: middle;
}
.share-item .share-item-facebook:focus:before {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
	content: "";
}
.share-item .share-item-twitter {
	/* Twitter */
	position: relative;
	color: #55ACEE;
	line-height: 1.2;
}
.share-item .share-item-twitter:before {
	vertical-align: middle;
}
.share-item .share-item-twitter:focus:before {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
	content: "";
}

/* 続きを読むボタン */
.continue-link {
	margin: 0;
	font-size: 16px;
}

.continue-link a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	line-height: 1.5;
	background: #767676;
	border-radius: 3px;
}
.continue-link a [class*="acms-icon"] {
	margin: 0 10px 0 0;
}
.continue-link a:link,
.continue-link a:visited {
	color: #FFF;
}
.continue-link a:hover,
.continue-link a:focus,
.continue-link a:active {
	color: #FFF;
	text-decoration: none;
	background: #AAA;
}

@media screen and (min-width: 768px) {
	/* タグ */
	.entry-tag {
		margin: 0;
	}
	/* 続きを読むボタン */
	.continue-link a {
		padding: 5px 10px;
		font-weight: normal;
	}
}

/* ------------------------------
　　テキストユニットのエディターの設定
------------------------------ */
/* エントリー内ボタン */
.entry-column,
.entryFormLiteEditor {
	/* 色付きボタン */
}
.entry-column .entry-btn-default,
.entryFormLiteEditor .entry-btn-default {
	background: #999;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 3px;
}
.entry-column .entry-btn-default:hover,
.entry-column .entry-btn-default:visited,
.entryFormLiteEditor .entry-btn-default:hover,
.entryFormLiteEditor .entry-btn-default:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column .entry-btn-default:focus,
.entry-column .entry-btn-default:active,
.entryFormLiteEditor .entry-btn-default:focus,
.entryFormLiteEditor .entry-btn-default:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column .entry-btn-default:hover,
.entryFormLiteEditor .entry-btn-default:hover {
	color: #FFF;
	background-color: #999;
	background-image: linear-gradient(to bottom, #C1C1C1, #999);
}
.entry-column .entry-btn-default:active,
.entry-column .entry-btn-default:focus,
.entryFormLiteEditor .entry-btn-default:active,
.entryFormLiteEditor .entry-btn-default:focus {
	background: #878787;
}
.entry-column .entry-btn-attention,
.entryFormLiteEditor .entry-btn-attention {
	background: #FF9A00;
	color: #FFF;
	font-weight: bold;
	line-height: 1.3;
	border: 0;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 3px;
}
.entry-column .entry-btn-attention:hover,
.entry-column .entry-btn-attention:visited,
.entryFormLiteEditor .entry-btn-attention:hover,
.entryFormLiteEditor .entry-btn-attention:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column .entry-btn-attention:focus,
.entry-column .entry-btn-attention:active,
.entryFormLiteEditor .entry-btn-attention:focus,
.entryFormLiteEditor .entry-btn-attention:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column .entry-btn-attention:hover,
.entryFormLiteEditor .entry-btn-attention:hover {
	color: #FFF;
	background-color: #FF9A00;
	background-image: linear-gradient(to bottom, #FDD87D, #FF9A00);
}
.entry-column .entry-btn-attention:active,
.entry-column .entry-btn-attention:focus,
.entryFormLiteEditor .entry-btn-attention:active,
.entryFormLiteEditor .entry-btn-attention:focus {
	background: #EDA800;
}

/* ------------------------------
　　編集ページ
------------------------------ */
.field-title {
	padding: 0 10px;
}

.field-title:first-child {
	margin: 0 0 10px 0;
}

.field-table-inner {
	width: 100%;
}
.field-table-inner th,
.field-table-inner td {
	border: 0;
}

/* ------------------------------
　　レイアウトモジュール
------------------------------ */
/* 背景色 */
.layout-bg {
	padding: 20px 0;
	background: #F6F6F6;
}

.layout-space {
	padding: 20px 0;
}

/* カラムの中央寄せ */
.center-col {
	float: none;
	margin: 0 auto;
}

/* 見出し */
.section-heading {
	margin: 20px 0 40px 0;
	font-size: 28px;
}
.section-heading a {
	color: #333;
}

/* ------------------------------
　　各モジュール
------------------------------ */
/* フィールドグループ */
.group-heading {
	margin: 0 0 20px 0;
	font-size: 18px;
	line-height: 1.2;
}

.group-detail {
	margin: 0 0 30px 0;
	font-size: 16px;
	line-height: 1.7;
}

/* ヘッドライン */
.lp-headline {
	font-size: 16px;
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.lp-suggest-box {
	padding: 50px 0;
}

.lp-suggest-text {
	margin: 30px 0 10px 0;
}

.lp-suggest-tel {
	margin: 0;
	color: #C38A00;
	font-weight: bold;
	font-size: 34px;
}
.lp-suggest-tel a {
	color: #C38A00;
}

.btn-shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

/* ------------------------------
　　メインカラム
------------------------------ */
.main:before,
.main:after {
	display: table;
	content: " ";
}

.main:after {
	clear: both;
}

.main-inner {
	width: 100%;
	max-width: 820px;
}
.main-inner.is-space-left {
	float: right;
}
.main-inner.is-space-right {
	float: left;
}
.main-inner.is-space-center {
	margin: 0 auto;
}

/* ------------------------------
　　サイドカラム
------------------------------ */
.side-title {
	margin-top: 0;
	font-size: 18px;
}

/* ------------------------------
　　物件情報
------------------------------ */
/* 地図 */
.realestate-map {
	overflow: hidden;
}

.realestate-map .js-s2d-ready,
.realestate-map [class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
}

.realestate-map img[class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
	height: auto;
}

.realestate-map-entry {
	margin: 0 10px;
}

.entry-column table.realestate-search {
	margin: 20px 0 30px 0;
}

@media screen and (min-width: 1024px) {
	.table-nowrap {
		white-space: nowrap;
	}
}

/* 物件情報 */
.realestate-search input {
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.realestate-search th,
	.realestate-search td {
		display: block;
		box-sizing: border-box;
	}
	.realestate-search input {
		box-sizing: border-box;
	}
}

/* ------------------------------
　　お問い合わせ
------------------------------ */
.contact-box .message-group {
	margin: 0 0 35px 0;
}

.contact-box .message-text {
	color: #C41134;
	font-weight: bold;
}

.contact-box .contact-no {
	margin: 0;
	color: #333;
	font-weight: bold;
	font-size: 30px;
}
.contact-box .contact-no a {
	color: inherit;
}

.contact-box .error-text {
	/* エラー文 */
	margin: 5px 0 0 0;
	color: #C41134;
}

.contact-form {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	background: #E5E5E5;
}

.contact-form-group {
	background: #E5E5E5;
}

.contact-form-label {
	display: block;
	margin: 0;
	padding: 10px 10px 0 10px;
	text-align: left;
}

.contact-form-control {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #FFF;
}

.contact-form-label {
	font-weight: bold;
}

.contact-form-grid {
	margin: 0 -5px;
}

.contact-form-col,
.acms-entry .contact-form-col {
	margin: 0 0 10px 0;
	padding: 0 5px;
}
.contact-form-col:last-child,
.acms-entry .contact-form-col:last-child {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.contact-form {
		display: table;
		width: 100%;
	}
	.contact-form-group {
		display: table-row;
	}
	.contact-form-label,
	.contact-form-control {
		display: table-cell;
	}
	.contact-form-label {
		width: 33.33333%;
		padding: 15px;
		vertical-align: top;
		border-bottom: 1px solid #FFF;
	}
	.contact-form-control {
		width: 66.66667%;
		padding: 15px;
	}
	.contact-form-col {
		margin: 0;
	}
}

/* ステップ
------------------------------ */
.contact-box .mail-step {
	margin: 0 0 35px 0;
	padding: 0 10px;
	background: #E5E5E5;
	/* カウンターの設定 */
	counter-reset: mailStep;
}

.contact-box .mail-step-item {
	float: left;
	margin: 0 10px;
	padding: 18px 0 14px;
	color: #999;
	font-weight: bold;
	list-style: none;
	border-bottom: 4px solid transparent;
	font-size: 16px;
}
.contact-box .mail-step-item:before {
	content: counter(mailStep) ".";
	/* カウンターの設定 */
	counter-increment: mailStep;
}

.contact-box .mail-step-item-current {
	color: #333;
	border-bottom: 4px solid #333;
}

@media screen and (min-width: 768px) {
	.contact-box .mail-step {
		height: 60px;
	}
}

/* 送信ボタン
------------------------------ */
.form-btn-box {
	margin: 0 10px 50px 10px;
	text-align: center;
}

.form-btn {
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.form-btn-send {
		width: 100%;
		max-width: 360px;
	}
}

/* ラベル
------------------------------ */
.label-required {
	margin: 0 5px;
	padding: 2px 8px;
	color: #FFF;
	background: #C41134;
	border-radius: 3px;
	font-size: 12px;
}

@media screen and (min-width: 768px) {
	.label-required {
		float: right;
	}
}

/* フォーム要素
------------------------------ */
.contact-box select[required]:required {
	border: 1px solid #C49511;
}

.contact-box select.focused:invalid {
	border: 1px solid #C41134;
}

.contact-box select[required]:valid {
	border: 1px solid #A7A7AA;
}

.contact-box input[required]:required,
.contact-box textarea[required]:required {
	background: #FFFDEB;
}

.contact-box input.focused:invalid,
.contact-box textarea.focused:invalid {
	background: #FFEBEE;
}

.contact-box input[required]:valid,
.contact-box textarea[required]:valid {
	background: #FFF;
}

.contact-box input[type="text"],
.contact-box input[type="password"],
.contact-box input[type="datetime"],
.contact-box input[type="datetime-local"],
.contact-box input[type="date"],
.contact-box input[type="month"],
.contact-box input[type="time"],
.contact-box input[type="week"],
.contact-box input[type="number"],
.contact-box input[type="email"],
.contact-box input[type="url"],
.contact-box input[type="search"],
.contact-box input[type="tel"] {
	font-size: 16px;
	box-sizing: border-box;
	padding: 0 5px;
}

.contact-box textarea {
	font-size: 16px;
	padding: 5px 5px 4px;
}

.contact-box select {
	min-height: 32px;
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 16px;
	vertical-align: top;
}

/* バリデーター
------------------------------ */
.valid-mark {
	display: none;
}

.valid-mark.valid {
	display: inline;
	float: right;
	color: #5CB85C;
}

.invalid {
	background: #FFEBEE !important;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
/* サイト名 */
.site-name {
	font-size: 24px;
	color: #C41134;
	font-weight: bold;
}
.header-stack .site-name {
	margin: 30px 0 20px;
}
.site-name a {
	color: #C41134;
}
.site-name a:hover,
.site-name a:focus,
.site-name a:active,
.site-name a:visited {
	color: #C41134;
}

.site-logo {
	display: inline-block;
	width: 22px;
	height: auto;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.site-name-text {
	display: inline;
	vertical-align: middle;
}

.edit-link {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.header-nav {
	position: relative;
	display: none;
}

@media (min-width: 768px) {
	.site-name {
		font-size: 24px;
	}
	.header-stack .site-name {
		text-align: center;
	}
	.site-logo {
		width: 40px;
	}
	.header {
		display: table;
		width: 100%;
	}
	.header-stack .header {
		display: block;
	}
	.header-logo {
		width: 100%;
		vertical-align: middle;
	}
	.header-stack .header-logo {
		display: block;
	}
	.header-nav {
		display: none;
		vertical-align: middle;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

@media (min-width: 1024px) {
	.header-logo {
		display: table-cell;
		width: 40%;
	}
	.header-stack .header-logo {
		display: block;
		width: 100%;
	}
	.header-nav {
		display: table-cell;
		width: 60%;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

/* ------------------------------
　　ナビゲーション
------------------------------ */
.header-logo {
	/* 固定したときの高さを保つ */
	padding: 48px 0 0 0;
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	padding: 0 5px;
	background: #FFF;
	border-top: 4px solid #333;
	border-bottom: 1px solid #CCC;
	padding: 0 calc(5px + constant(safe-area-inset-right)) 0 calc(5px + constant(safe-area-inset-left));
	box-sizing: border-box;
}

/* モバイル時ナビゲーションボタン */
.nav-menu-btn {
	display: inline-block;
	height: 44px;
	padding: 7px 5px;
	font-size: 20px;
	color: #333;
	box-sizing: border-box;
}
a .nav-menu-btn {
	color: #333;
}
.nav-menu-btn:hover {
	color: #333;
	text-decoration: none;
}
.nav-menu-btn .acms-icon-sort {
	display: inline-block;
}

.nav-menu-btn-text {
	display: inline-block;
	margin: 0 0 0 5px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
	font-size: 11px;
}

/* モバイル時ヘッダー アイコン */
.nav-menu-action {
	display: table;
	float: right;
	margin: 0;
	padding: 0;
}

.nav-menu-action-item {
	display: table-cell;
	width: 44px;
	height: 44px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.nav-menu-action-link {
	color: #333;
}
.nav-menu-action-link:hover,
.nav-menu-action-link:active,
.nav-menu-action-link:visited,
.nav-menu-action-link:focus {
	color: #333;
	text-decoration: none;
}

.navbar {
	display: none;
	width: 100%;
}
.navbar.acms-admin-module-edit-wrapper {
	z-index: 1;
}
.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar li a {
	display: block;
	padding: 10px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
	color: #FFF;
	text-decoration: none;
	background: #C41134;
}

@media (min-width: 768px) {
	.header {
		height: 100px;
	}
	.navbar {
		display: inline-block;
		vertical-align: middle;
	}
	.navbar > ul {
		float: right;
		padding: 0;
		list-style: none;
	}
	.header-stack .navbar > ul {
		display: table;
		float: none;
		width: 100%;
		table-layout: fixed;
		border-right: 1px solid #EEE;
	}
	.navbar li {
		position: relative;
		float: left;
		margin: 0 10px;
		text-align: center;
		vertical-align: middle;
	}
	.header-stack .navbar li.navbar-btn {
		padding: 0 10px;
	}
	.header-stack .navbar li {
		display: table-cell;
		float: none;
		border-left: 1px solid #EEE;
	}
	.navbar li ul {
		/* 二階層目 */
		position: absolute;
		left: 0;
		display: none;
		min-width: 200px;
	}
	.navbar li li {
		margin: 0;
	}
	.header-stack .navbar li li {
		display: block;
		border: 0;
	}
	.navbar li a {
		/* 一階層目のリンクのみ */
		padding: 0;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		transition: border .25s ease-out;
	}
	.navbar li a:hover,
	.navbar li a:focus,
	.navbar li a:active {
		color: #333;
		background: transparent;
	}
	.header-stack .navbar li a {
		display: block;
		padding: 10px;
		font-size: 16px;
	}
	.navbar li.stay a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li.stay a.btn-attention {
		border: 0;
	}
	.navbar li:hover ul {
		/* 二階層目 */
		z-index: 10000;
		display: block;
		animation: .8s fade-in;
	}
	.navbar li:hover a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li:hover a.btn-attention {
		border: 0;
	}
	.navbar li:hover li a {
		border: 0;
	}
	.navbar li li {
		/* 二階層目以降 */
		display: block;
		float: none;
		text-align: left;
		background: #C41134;
		border: 0;
		border-top: 1px solid #910021;
	}
	.navbar li li:first-child {
		border: 0;
	}
	.navbar li li a {
		margin: 0;
		padding: 10px 15px;
		color: #FFF;
		border: 0;
	}
	.navbar li li a:hover {
		color: #FFF;
		background: #910021;
		border: 0;
	}
	.navbar a.btn-attention {
		/* ボタン（色付き） */
		background: #FF9A00;
		color: #FFF;
		font-weight: bold;
		line-height: 1.3;
		border: 0;
		display: inline-block;
		padding: 6px 15px;
		border-radius: 3px;
		border: 0;
	}
	.navbar a.btn-attention:hover,
	.navbar a.btn-attention:visited {
		color: #FFF;
		text-decoration: none;
	}
	.navbar a.btn-attention:focus,
	.navbar a.btn-attention:active {
		color: #FFF;
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
	}
	.navbar a.btn-attention:hover {
		color: #FFF;
		background-color: #FF9A00;
		background-image: linear-gradient(to bottom, #FDD87D, #FF9A00);
		border: 0;
	}
	.navbar a.btn-attention:active,
	.navbar a.btn-attention:focus {
		background: #EDA800;
	}
}

@media (min-width: 768px) {
	.header-logo {
		padding: 0;
	}
	.navbar ul li a {
		font-size: 14px;
	}
}

@media (min-width: 1440px) {
	.navbar ul li a {
		font-size: 16px;
	}
}

/* ------------------------------
　　サイドメニュー
------------------------------ */
.navbar-side {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 11px;
	text-align: right;
}

.navbar-side-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	background: #333;
	border-radius: 0 0 4px 4px;
}

.navbar-side-item {
	position: relative;
	display: inline-block;
	color: #FFF;
}
.navbar-side-item:before {
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 0;
	display: block;
	height: 1em;
	border-left: 1px dotted #FFF;
	content: "";
}
.navbar-side-item:first-child:before {
	content: none;
}

.navbar-side-link {
	display: inline-block;
	padding: 4px 14px 4px 10px;
	color: #FFF;
}
.navbar-side-link [class*="acms-icon"] {
	margin: -2px 5px 0 0;
}
.navbar-side-link:hover,
.navbar-side-link:visited,
.navbar-side-link:active,
.navbar-side-link:focus {
	color: #FFF;
}
.navbar-side-link:hover [class*="acms-icon"] {
	text-decoration: none;
}

/* ------------------------------
　　モバイルメニュー
------------------------------ */
/* トグルメニューアイコン */
.icon-toggle-menu {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 2px;
	margin: 6px 0;
	vertical-align: middle;
	background-color: #333;
	border-radius: 1px;
	transition: .1s all;
}
.icon-toggle-menu:before,
.icon-toggle-menu:after {
	position: absolute;
	display: block;
	width: 18px;
	height: 2px;
	background-color: #333;
	border-radius: 1px;
	transition: .3s all;
	content: "";
}
.icon-toggle-menu:before {
	top: -6px;
}
.icon-toggle-menu:after {
	bottom: -6px;
}
[aria-expanded=true] .icon-toggle-menu {
	background: transparent;
}
[aria-expanded=true] .icon-toggle-menu:before {
	width: 22px;
	-ms-transform: translate(-2px, 6px) rotate(45deg);
	    transform: translate(-2px, 6px) rotate(45deg);
}
[aria-expanded=true] .icon-toggle-menu:after {
	width: 22px;
	-ms-transform: translate(-2px, -6px) rotate(-45deg);
	    transform: translate(-2px, -6px) rotate(-45deg);
}

/* ナビゲーションバー */
@media (max-width: 767px) {
	.is-locked {
		overflow: hidden;
	}
	.mobile-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		display: none;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding-top: 48px;
		background-color: #FFF;
		opacity: 0;
		transition-timing-function: cubic-bezier(.25, .46, .45, .94);
		transition-duration: .3s;
		transition-property: all;
	}
	.mobile-nav.is-active {
		display: block;
	}
	.mobile-nav.is-opened {
		opacity: 1;
	}
	.mobile-nav-inner {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: start;
		-ms-flex-pack: center;
		justify-content: center;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 30px 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.mobile-navbar-list {
		margin: 0;
		padding: 0;
		line-height: 2.4;
		text-align: center;
		list-style: none;
		font-size: 18px;
	}
	.mobile-navbar-list a:not(.btn-attention),
	.mobile-navbar-list a:not(.btn-attention):hover,
	.mobile-navbar-list a:not(.btn-attention):visited,
	.mobile-navbar-list a:not(.btn-attention):active,
	.mobile-navbar-list a:not(.btn-attention):focus {
		color: #333;
	}
	.mobile-navbar-list .mobile-navbar-list {
		display: none;
	}
	.mobile-nav-side {
		margin: 20px 0;
		text-align: center;
	}
	.mobile-nav-side-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mobile-nav-side-item {
		display: block;
		margin: 0 0 10px 0;
	}
	.mobile-nav-side-link {
		color: #333;
	}
	.mobile-nav-side-link:hover,
	.mobile-nav-side-link:visited,
	.mobile-nav-side-link:active,
	.mobile-nav-side-link:focus {
		color: #333;
	}
	.mobile-navbar-footer {
		margin: 15px 0 0 0;
	}
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggest-box {
	background: #DDD;
}

.suggest-inner {
	display: table;
	width: 100%;
	padding: 15px 0;
}

.suggest-item {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.suggest-text {
	margin: 0 0 10px 0;
	line-height: 1.5;
	font-size: 14px;
}

.suggest-tel {
	margin: 0 0 10px 0;
	color: #666;
	font-weight: bold;
	font-size: 24px;
}
.suggest-tel a {
	color: inherit;
}

.suggest-btn {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.suggest-inner {
		padding: 0;
	}
	.suggest-item {
		padding: 30px 10px;
	}
	.suggest-tel {
		margin: 0;
	}
	.suggest-half {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
}

/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}

.company-about {
	margin: 0 0 30px 0;
	color: #FFF;
}

.company-name {
	margin: 0 0 15px 0;
	color: #FFF;
	font-size: 20px;
	font-style: normal;
}

.company-detail {
	margin: 0 0 5px 0;
	padding: 0;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
}
.company-detail a {
	color: #FFF;
}
.company-detail a:hover {
	text-decoration: underline;
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	width: 650px;
	max-width: 100%;
	margin: 0 -10px;
}

.footer-nav-item {
	display: block;
	float: left;
	width: 25%;
	margin: 0 0 10px 0;
	padding: 0 10px;
	vertical-align: top;
	box-sizing: border-box;
}

.footer-nav-title {
	margin: 0 0 5px 0;
	color: #FFF;
	font-size: 16px;
}

.footer-nav-list {
	margin: 0;
	padding: 0;
	color: #999;
	list-style: none;
}
.footer-nav-list li {
	line-height: 1.7;
}
.footer-nav-list a {
	color: #999;
}

@media screen and (max-width: 767px) {
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top a:focus {
	display: block;
	border: 1px dotted #FFF;
}

.page-top-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../../images/marker/btn_pageTop.png?v=2019122592154) no-repeat center;
	transform: translateZ(0);
	right: calc(20px + constant(safe-area-inset-right));
	opacity: 0;
	transition: opacity .2s ease-out;
}
.no-js .page-top-btn {
	/* jsが無効の環境のとき */
	opacity: .6;
}

.page-top-btn-appear {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.page-top-btn {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.page-top-btn:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	margin: 0 -5px 30px 15px;
	padding: 0;
	list-style: none;
}

.sns-list-item {
	float: left;
	margin: 0 5px;
}
.sns-list-item a:hover,
.sns-list-item a:visited,
.sns-list-item a:active,
.sns-list-item a:focus {
	text-decoration: none;
}

/* 各種SNSボタン */
.sns-list-item .sns-list-facebook {
	/* Facebook */
	display: block;
	width: 30px;
	height: 30px;
	color: #FFF;
	line-height: 1.5;
	text-align: center;
	background: #1877F2;
	border-radius: 4px;
	font-size: 19px;
}
.sns-list-item .sns-list-facebook:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-twitter {
	/* Twitter */
	display: block;
	width: 30px;
	height: 30px;
	color: #FFF;
	line-height: 1.5;
	text-align: center;
	background: #55ACEE;
	border-radius: 4px;
	font-size: 19px;
}
.sns-list-item .sns-list-twitter:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-youtube {
	/* YouTube */
	display: block;
	width: 30px;
	height: 30px;
	color: #FFF;
	line-height: 1.5;
	text-align: center;
	background: #CD201F;
	border-radius: 4px;
	font-size: 19px;
}
.sns-list-item .sns-list-youtube:before {
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.sns-list {
		float: right;
		margin: 0 -10px;
	}
	.sns-list-item {
		margin: 10px;
	}
	.sns-list-item a:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}

.copyright-text {
	margin: 0 auto;
}

.copryright-logo {
	vertical-align: middle;
}