<script src="%{JS_LIB_JQUERY_DIR}jquery-%{JS_LIB_JQUERY_DIR_VERSION}.min.js" charset="UTF-8"></script>
<!-- BEGIN_MODULE Js -->
<script src="%{ROOT_DIR}acms.js{arguments}" charset="UTF-8" id="acms-js"></script><!-- END_MODULE Js -->
<script src="/js/modernizr.js"></script>
<script src="/js/site.js" charset="UTF-8"></script>
<script src="/js/elf/appear-btn.js" charset="UTF-8"></script>
<script src="/js/elf/smple-e1805e-b476c5c7a632-aceb2b66df683.js" charset="UTF-8"></script>
<!-- BEGIN_MODULE Touch_Unlogin --><!-- BEGIN_MODULE Blog_Field -->{google_analytics}[raw]<!-- END_MODULE Blog_Field --><!-- END_MODULE Touch_Unlogin -->
<!-- 構造化データ -->
@include("/include/head/structured-data.html")