.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}
.w-checkbox:before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}
.w-checkbox:after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

body {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 500;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.6em;
  font-weight: bold;
}

h2 {
  margin: 10px 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 23px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0px 0px 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin: 10px 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #c1ced6;
}

a:active {
  color: #8eb7d3;
}
.button {
  display: inline-block;
  padding: 15px 33px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: #47474f;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family:  "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Arial, sans-serif;
  color: #47474f;
  font-size: 16px;
  font-style:   normal;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
}

.button.form {
  margin-top: 23px;
  margin-bottom: 24px;
  padding-right: 54px;
  padding-left: 54px;
  border-width: 1px 1px 2px;
  border-color: #7ec4bd;
  color: #7ec4bd;
}

.button.form:hover {
  background-color: rgba(126, 196, 189, 0.34);
}
.sitetop {
  overflow: hidden;
  height: auto;
  margin-left: ;
  padding: 0px;
  color: #fff;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sitetop.topmain {
  position: relative;
}

.CourseDettailtop {
  height: auto;
  margin-left: -14px;
  padding: 0px;
  -webkit-transform: translate3d(0px, 0px, -300px);
  transform: translate3d(0px, 0px, -300px);
  color: #fff;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navbar {
  padding-bottom: 0px;
  background-color: #fff;
}

.nav-link {
  margin-top: 23px;
  margin-left: 34px;
  padding: 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #404040;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom-color: #7ec4bd;
}

.logo-img {
  margin: 12px 10px 0 10px;
  float: left;
}

.brand-block.w--current {
  position: relative;
  float: left;
}

.topmaincatchphrase {
  min-height: 50px;
  margin-top: 28px;
  margin-bottom: 10px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.topmaincatchphrase.view3 {
  display: inline;
  width: auto;
  min-height: auto;
  font-size: 32px;
  line-height: 1.6em;
  font-weight: 700;
}

.topmaincatchphrase.view3.keep {
  width: auto;
  font-size: 32px;
  letter-spacing: .14rem;
  text-transform: none;
}

.divider {
  display: block;
  width: 80px;
  height: 1px;
  margin: 28px auto;
  background-color: #fff;
}

.divider.grey {
  width: auto;
  margin: 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.09);
  color: #9aa1a4;
}

.mainsubtext {
  display: inline-block;
  width: auto;
  margin: 10px auto;
  padding: 10px 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: hsla(0, 0%, 100%, 0.81);
  font-size: 15px;
  line-height: 1.8em;
  font-style: bold;
  text-align: center;
  letter-spacing: 0.5em;
}

.about-text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #47474f;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: .14rem;
}

.footermenu {
  position: relative;
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: transparent;
  background-image: url('../../../images/elf/img_footer_1280.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: left;
  text-decoration: none;
}

.iconwrapper {
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: hsla(0, 0%, 96.1%, 0);
}

.iconwrapper.push-top {
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: hsla(0, 0%, 96.1%, 0);
}

.big-icon {
  height: auto;
  margin-left: 0px;
}

.coursewrapper {
  position: relative;
  bottom: 0px;
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #333;
  text-decoration: none;
}

.coursewrapper:hover {
  bottom: 8px;
}

.coursewrapper.boxshadow {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  box-shadow: 0 0 20px 0.2px #c8c8c8;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  cursor: pointer;
}
/*--ここから--
サイトトップ　index.html コース新着のリボン*/
.image-inner{
  overflow: hidden;
  position: relative;
}

.new{
	background: #f35a79;
  color: #FFF;
  font-size: 14px;
  padding: 70px 0px 3px;
  position: absolute;
  right: -97px;
  top: -41px;
  text-align: center;
  width: 200px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
 }

/* サイトトップ　index.html コース新着のリボン --ここまで-- */
.coursewrapper.boxshadow:hover {
  bottom: 0px;
  box-shadow: none;
  opacity: 1;
  -webkit-filter: grayscale(4%);
  filter: grayscale(4%);
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.footer-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f5f5f5;
}

.project-info {
  position: relative;
  min-height: 180px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #fff;
  text-decoration: none;
}

.nav-menu {
  margin-right: 40px;
}

.topmain-store-btn-apple {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 0px;
  text-align: right;
}
.topmain-store-btn-google{
  display: inline-block;
  margin: 0;
  padding-bottom: 0px;
  text-align: left;
}

.topmain-store-btn-google .topmain-store-btn-googleapple:hover {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  opacity: 0.6;
}
.storebtnapple{
  text-align: right;
}
.storebtngoogleplay{
  text-align: left;
}
.topmainstorebtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.appear-btn-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.descriptioncolomn2 {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  opacity: 1;
}
.btn-google-position {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  clear: none;
  text-align: left;
}

.btn-apple-position {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  text-align: right;
}


.topmainbottombox {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  min-height: auto;
  min-width: auto;
  margin: 0px;
  padding-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.48);
  background-image: url('../../../images/elf/pat_16pat_15.png');
  background-position: 0% 0%;
  background-size: 4px 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.topmainbottombox.sectiontop {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: block;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: 0px;
  padding-top: 15px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url('../../../images/elf/pat_16pat_15.png');
  background-position: 50% 50%;
  background-size: 4px 4px;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 1;
}

.descriptioncolomn3 {
  margin-top: 0px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.title_features {
  margin-top: 60px;
  margin-bottom: 10px;
  padding-top: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f35a79;
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 700;
  letter-spacing: .12rem;
}

.title_features.title_1row {
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main_text01 {
  padding-right: 1px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: .14rem;
  font-weight: 500;
}

.column-1 {
  left: auto;
  right: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.column-2 {
  padding-right: 40px;
  padding-left: 40px;
}

.column-5 {
  padding-right: 20px;
  padding-left: 20px;
}

.column-6 {
  padding-right: 20px;
  padding-left: 20px;
}

.column-7 {
  padding-right: 20px;
  padding-left: 20px;
}

.sectiondescription {
  margin-top: 2em;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 700;
  letter-spacing: .12rem;
}

.name {
  font-size: 16px;
  line-height: 28px;
}

.name.corseinfo {
  min-height: auto;
  min-width: 126%;
  margin-left: 20px;
  padding-left: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #979797;
  text-align: left;
}

.corseinfo.text-blockr {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #979797;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
}

.corsesub {
  position: relative;
  top: 95%;
  bottom: 0%;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.container-3 {
  padding-left: 0px;
}

.corsethumb {
  margin-right: 1px;
}

.corsethumb:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.corsetitle {
  max-height: none;
  min-height: 100px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-width: 1px;
  border-color: #000;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #383a3e;
  font-size: 18px;
  line-height: 1.8em;
  text-align: left;
  text-transform: none;
}

.sectiontitle {
  display: inline;
  margin-right: auto;
  margin-left: auto;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  margin-top: 2em;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.link-block {
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  text-decoration: none;
}

.link-block:hover {
  box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.5);
}

.corsesubtitle {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #383a3e;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.text-block-3 {
  color: #383a3e;
}

.text-block-3.corsesubtitle {
  overflow: visible;
  max-height: none;
  min-height: 50px;
  margin-top: 0px;
  padding: 0px 20px 10px;
  font-size: 16px;
  line-height: 1.6em;
  text-align: left;
  letter-spacing: 0.1vw;
}

.div-block {
  margin-bottom: 20px;
}

.maincontents {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 40px;
  grid-auto-flow: row;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". Area-2" "Area .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.guidname {
  padding-right: 0px;
  padding-left: 10px;
}

.logotitle {
  max-width: none;
  margin-top: auto;
  padding-top: 18px;
}

.footerhead {
  width: 210px;
  max-width: none;
  margin-left: -43px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
}

.footerhead.footerlinka {
  width: 170px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.image-6 {
  float: right;
  text-align: right;
}

.image-6.linktop:hover {
  opacity: 0.39;
}

.containerjump {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  display: block;
  width: 943px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-right: 0px;
  float: none;
  clear: none;
  text-align: right;
}

.innerlink {
  color: #fff;
  list-style-type: none;
}

.outerlink {
  margin-top: -50px;
  color: #f5f5f5;
  list-style-type: none;
}

.footerlinka {
  padding-left: 60px;
}

.footerlinkb {
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: minmax(20px, 14%) 1fr;
  grid-template-columns: minmax(20px, 14%) 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-7 {
  margin-right: 40px;
  margin-left: 40px;
  padding-left: 0px;
}

.image-7:hover {
  opacity: 0.6;
}

.image-8 {
  margin-right: 40px;
  margin-left: 40px;
}

.image-8:hover {
  opacity: 0.6;
}

.image-9 {
  margin-right: 40px;
  margin-left: 40px;
}

.image-9:hover {
  opacity: 0.6;
}

.copyright {
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center;
}

.copyright.footer {
  min-height: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}

.footercontent {
  margin-left: 0px;
  background-image: url('../../../images/elf/img_footer_1280.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.external-link {
  display: block;
}

.linkmenu {
  margin-right: auto;
  margin-left: 0px;
  padding-left: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  line-height: 3.1em;
  text-align: left;
}

.featurescontens {
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center;
}

.icon {
  position: static;
  display: block;
  overflow: auto;
}

.list-item {
  list-style-type: none;
  cursor: default;
}

.list-item:hover {
  opacity: 0.6;
}

.corsedetailsubtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  text-align: left;
  letter-spacing: .14rem;
}

.corsedetailtitle {
  color: #383a3e;
  text-align: left;
  letter-spacing: .14rem;
}

.text-block-4 {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 15px;
  text-align: left;
}

.paragraph-2 {
  padding-top: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #fff;
  text-align: right;
}

.columns-8 {
  margin-top: 20px;
}

.section-3 {
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: center;
}

.text-block-5 {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 24px;
  line-height: 1.6em;
}

.imgguidphoto {
  overflow: auto;
  width: 200px;
  height: 200px;
  margin-top: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #c5c5c5;
  border-radius: 50%;
  text-align: center;
}

.paragraph-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: .14rem;
}

.heading {
  display: inline;
  margin-top: 40px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  text-align: left;
}

.corsecontensroute {
  margin-bottom: 100px;
}

.div-block-5 {
  max-height: 435px;
  margin-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.corsecontensdetail {
  padding-bottom: 0px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #6f7579;
  font-size: 12px;
  text-align: left;
}

.contactheader {
  display: block;
  max-height: 114px;
  min-height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #383a3e;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.field-label {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  text-align: left;
}

.field-label-2 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  text-align: left;
}

.text-field {
  display: inline;
  min-height: 50px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

.textarea {
  min-height: 300px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
}

.text-field-2 {
  min-height: 50px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
}

.invalid_email {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #ff1010;
}

.checkbox-label {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.submit-button {
  width: 208px;
  height: 55px;
  margin-top: 21px;
  float: right;
  border-radius: 4px;
  background-color: #f35a79;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 12px;
  text-align: center;
}

.submit-button:hover {
  opacity: 0.5;
}

.checkbox {
  font-size: 16px;
}

.form-2 {
  width: 630px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: left;
}

.invalid_message {
  margin-bottom: 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #ff1010;
  text-align: left;
}

.invalid_name {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #ff1010;
  text-align: left;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-weight: 700;
}

.form-block {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-weight: 700;
}

.inquirer {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.columns-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  min-height: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.section-4 {
  min-height: 73px;
  margin-top: 0px;
}

.columns-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.buck-button {
  position: static;
  display: block;
  width: 208px;
  height: 55px;
  margin-top: 21px;
  margin-left: 0px;
  float: left;
  border-radius: 4px;
  background-color: #3db9ef;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 12px;
  text-align: center;
}

.inquirydetail {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.success-message-2 {
  background-color: #fff;
}

.text-block-7 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.6em;
  text-align: center;
}

.text-block-8 {
  margin-bottom: 220px;
  font-size: 30px;
  line-height: 1.6em;
}

.text-block-9 {
  text-align: center;
}

.senderror {
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: rgba(255, 204, 214, 0);
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 30px;
  line-height: 1.6em;
  text-align: center;
}

.senderrorsub {
  margin-bottom: 0px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  text-align: center;
}

.div-block-6 {
  height: 100px;
  margin-bottom: 220px;
  padding-bottom: 20px;
  background-color: rgba(255, 204, 214, 0);
}

.sendingerror {
  margin-bottom: 0px;
}

.sendcompletely {
  margin-top: 20px;
  margin-bottom: 300px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 30px;
  line-height: 1.6em;
  text-align: center;
}

.column-16 {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #9aa1a4;
}

.plyvacytermsheader {
  min-height: 73px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #383a3e;
  font-size: 16px;
  line-height: 1.6em;
}

.p_policy {
  margin-top: 10px;
  margin-bottom: 10px;
  direction: ltr;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .14rem;
  text-indent: 0em;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-rule-style: none;
  column-rule-style: none;
}

.footersociallink {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  display: block;
  overflow: visible;
  width: auto;
  min-width: 0px;
  margin: 20px auto 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  clear: none;
  text-align: center;
}

.topcoursemenu {
  margin-top: 60px;
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: transparent;
  text-align: center;
}

.topcoursemenu.service {
  opacity: 1;
  text-align: left;
}

.jump {
  display: inline;
}

.container-8 {
  text-shadow: 1px 1px 6px #000;
}

.image-12 {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-bottom: 0px;
}

.image-13 {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.homecourse {
  text-align: center;
}

.text-span {
  margin-left: 0px;
  border-style: solid;
  border-width: 5px 15px 6px;
  border-color: #f35a79;
  border-radius: 2px;
  background-color: #f35a79;
}

.image-15 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 0px;
}

.success-message-3 {
  background-color: hsla(0, 0%, 86.7%, 0);
  color: #6f7579;
  font-size: 20px;
  line-height: 1.6em;
}

.text-block-10 {
  margin-bottom: 220px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 30px;
}

.confirmation {
  width: 630px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: left;
}

.invalid_privacypolicy {
  margin-bottom: 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #ff1010;
  text-align: left;
}

.error-message {
  background-color: rgba(255, 222, 222, 0);
}

.image-18 {
  position: relative;
  left: auto;
  top: 12%;
  right: 2%;
  bottom: -33px;
  display: inline-block;
  overflow: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  float: right;
  clear: none;
}

.container-9 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link_outer {
  color: #f5f5f5;
  text-decoration: none;
}

.link_outer.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f5f5f5;
}

.link_outer.footerlinkb {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

.link_outer.footerlinkb:hover {
  opacity: 0.4;
}

.grid-2 {
  padding-left: 0px;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-template-areas: "Area-3 Area" "Area-4 Area-2" "Area-5 ." "Area-6 ." "Area-7 ." "Area-8 ." "Area-9 .";
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr);
  grid-template-rows: minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr);
}

.grid-2.footerllinkb {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-flow: column;
  grid-column-gap: 85px;
  -ms-grid-columns: 1.25fr 3.75fr;
  grid-template-columns: 1.25fr 3.75fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(35px, 0.5fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 0.5fr);
}

.link_inner {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f5f5f5;
  text-decoration: none;
}

.link_inner.footerlinka:hover {
  opacity: 0.4;
}

.link_inner {
  text-decoration: none;
}

.link_inner.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #f5f5f5;
}

.link_inner.footerlinka {
  margin-left: 40px;
  padding-left: 0px;
  color: #f5f5f5;
  text-align: left;
}

.link_inner.footerlinka:hover {
  opacity: 0.4;
}

.link_inner.footerlinka.w--current:hover {
  opacity: 0.4;
}

.div-block-9 {
  margin-right: 20px;
  margin-bottom: 220px;
  margin-left: 20px;
  text-align: center;
}

.heading-3 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  font-size: 25px;
}

.text-block-11 {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

.body {
  font-size: 15px;
}

.mask-2 {
  overflow: visible;
  opacity: 1;
}

.right-arrow {
  display: none;
}

.left-arrow {
  display: none;
}

.slide-nav {
  display: none;
  overflow: hidden;
  opacity: 1;
}

.slider {
  position: static;
  overflow: visible;
  height: 780px;
  background-color: hsla(0, 0%, 82.6%, 0.02);
}

.maincopyarea {
  position: static;
  overflow: visible;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  opacity: 1;
  letter-spacing: 1.4vw;
}

.slide1 {
  background-image: url('../../../images/elf/img-slide-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  direction: ltr;
}

.slide2 {
  background-image: url('../../../images/elf/img-slide-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}


.slide3 {
  background-image: url('../../../images/elf/img-slide-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide4 {
  background-image: url('../../../images/elf/img-slide-4.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.icon-2 {
  display: none;
}

.icon-3 {
  display: none;
}

.container-12 {
  margin-right: auto;
  margin-left: auto;
}

.paragraph-7 {
  margin-top: 10px;
  margin-bottom: 100px;
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  color: #333;
  font-size: 16px;
  text-align: right;
}

.image-23 {
  max-height: 375px;
  margin-top: 40px;
}

.paragraph-8 {
  font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
}

.paragraph-9 {
  color: #383a3e;
  line-height: 2em;
  letter-spacing: .14rem;
}

.h4_titlepolicysecond {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #383a3e;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.h4_titletermssecond {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #383a3e;
  font-size: 16px;
  line-height: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.p_end {
  margin-top: 20px;
  margin-bottom: 100px;
  color: #383a3e;
  text-align: right;
}

.slide1y {
  background-color: #000;
  background-image: url('../../../images/elf/img-slide-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide1y.slide_1 {
  background-image: url('../../../images/elf/img-slide-1.jpg');
}

.grid-3 {
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area Area-2" "Area-4 Area-44";
  -ms-grid-columns: 0.5fr 0px 1.75fr;
  grid-template-columns: 0.5fr 1.75fr;
  -ms-grid-rows: 1fr 0px auto 0px auto 0px auto 0px auto;
  grid-template-rows: 1fr auto auto auto auto;
}

.appear-btn{
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .logotitle {
    max-width: none;
    margin-top: auto;
    padding-top: 5px;
  }
  .logo-img {
    margin: 0 10px;
    float: left;
}
  .sitetop {
    height: auto;
    min-height: auto;

  }
  .CourseDettailtop{
   height: auto;
   min-height: auto;
   margin-left: -14px;
 }
  .navbar {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .nav-link {
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-link:hover {
    border-bottom-color: transparent;
  }
  .topmaincatchphrase {
    font-size: 38px;
    line-height: 44px;
  }
  .topmaincatchphrase.view3 {
    display: block;
    width: 60vw;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
  }
  .topmaincatchphrase.view3.keep {
    width: 95vw;
  }
  .divider.grey {
    margin-top: 0px;
  }

  .mainsubtext {
    width: 70vw;
    max-width: none;
    min-width: auto;
    margin-top: 0px;
    line-height: 32px;
  }

  .footermenu {
    background-position: 50% 50%;
  }
  .coursewrapper:hover {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .project-info {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .menu-button {
    margin-top: 0px;
    margin-right: 10px;
    padding: 10px;
    font-size: 32px;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #7ec4bd;
  }
  .nav-menu {
    background-color: #f5f5f5;
  }
.topmain-store-btn-google {
    min-height: 50px;
  }

  .topmain-store-btn-googleapple{
    display: inline-block;
    min-height: 40px;
    margin-top: 10px;
    text-align: center;
  }

  .topmainstorebtn {
    display: block;
    min-height: 90px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .appear-btn-content {
    display: block;
    min-height: 54px;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .descriptioncolomn2 {
    display: block;
  }
  .btn-google-position {
    min-height: 80px;
  }

  .topmainbottombox.sectiontop {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: auto;
    max-height: 420px;
    min-height: 42z0px;
    margin-top: -66%;
    padding-top: 0px;
    clear: none;
    background-size: 4px 4px;
  }
  .container-2 {
    display: block;
  }
  .title_features {
    font-size: 19px;
    line-height: 1.6em;
  }
  .title_features.title_1row {
    letter-spacing: 0.3vw;
  }
  .main_text01 {
    line-height: 1.6em;
  }
  .column-1 {
    display: block;
  }
  .name.corseinfo {
    font-size: 14px;
    line-height: 1.5em;
  }
  .corseinfo.text-blockr {
    font-size: 14px;
  }
  .corsetitle {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  .sectiontitle {
    margin-top: 2em;
    font-size: 28px;
    line-height: 37px;
  }
  .text-block-3.corsesubtitle {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.6em;
  }
  .div-block {
    display: block;
  }
  .maincontents {
    margin-bottom: 40px;
  }
  .guidname {
    padding-left: 0px;
  }
  .footerhead {
    width: auto;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
  }
  .containerjump {
    display: block;
    width: auto;
    max-width: none;
    min-height: auto;
    min-width: auto;
    margin-right: auto;
    padding-right: 20px;
    float: none;
    clear: none;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: right;
  }
  .outerlink {
    margin-top: -39px;
  }
  .footerlinka {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footerlinkb {
    margin-top: 47px;
  }
  .image-8 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footercontent {
    width: auto;
    height: auto;
    min-height: 500px;
    background-color: #000;
    background-image: url('../../../images/elf/img_footer_1280.png');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
  }
  .linkmenu {
    overflow: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 0px;
    float: none;
    text-align: left;
  }
  .icon {
    width: auto;
  }
  .columns-8 {
    margin-bottom: 20px;
  }
  .contactheader {
    min-height: auto;
    margin-bottom: 20px;
  }
  .inquirydetail {
    margin-top: 5px;
  }
  .column-16 {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #9aa1a4;
  }
  .p_policy {
    margin-top: 10px;
    letter-spacing: .14rem;
  }
  .jumototop {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    text-align: right;
  }
  .footersociallink {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 3%;
    display: block;
    overflow: visible;
    min-width: 0px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .topcoursemenu {
    background-image: url('../../../images/elf/example-bg.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .topcoursemenu.service {
    background-image: none;
  }
  .jump {
    text-align: right;
  }
  .container-8 {
    position: relative;
    padding-left: 0px;
  }
  .image-18 {
    top: 15%;
    right: 2%;
    bottom: -33px;
  }
  .link_outer.w--current {
    margin-top: 0px;
  }
  .link_outer.footerlinkb {
    margin-top: 0px;
  }
  .grid-2.footerllinkb {
    grid-auto-flow: column dense;
    grid-row-gap: 18px;
    -ms-grid-columns: 1.75fr 4fr;
    grid-template-columns: 1.75fr 4fr;
    -ms-grid-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
    grid-template-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
  }
  .slider {
    position: relative;
  }
  .maincopyarea {
    position: relative;
    top: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0%;
  }
  .slide1 {
    height: 590px;
    background-image: url('../../../images/elf/img-slide-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .slide3 {
    background-position: 0% 50%;
  }
  .slide4 {
    background-position: 70% 50%;
  }
  .image-23 {
    display: inline-block;
    margin-top: 40px;
  }
}


@media screen and (max-width:767.98px) {/* 変更点。0.02引く。 */
  .sitetop {
    display: block;
    height: auto;
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .CourseDettailtop{
    display: block;
    height: auto;
    min-height: auto;
    margin-left: -14px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
  .logo-img {

    width: 40px;
  }
  .brand-block {
    width: auto;
    padding-left: 0px;
  }
  .topmaincatchphrase {
    color: #fff;
  }
  .topmaincatchphrase.view3 {
    width: 91vw;
    min-height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 1.6em;
    letter-spacing: 0.8vw;
  }
  .topmaincatchphrase.view3.keep {
    width: 95vw;
    margin-bottom: 10px;
    letter-spacing: .14rem;
  }
  .divider.grey {
    margin-top: 0px;
  }
  .mainsubtext {
    width: 85vw;
    max-width: none;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.8em;
    letter-spacing: 0.4em;
  }
  .about-text {
    margin-top: 20px;
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }
  .footermenu {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 50% 50%;
  }
  .iconwrapper {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0 15%;
  }
  .iconwrapper.push-top {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .coursewrapper.boxshadow {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .menu-button {
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .nav-menu {
    margin-right: 0px;
  }
  .topmain-store-btn-google{
    display: inline-block;
    min-height: 40px;
    text-align: center;
  }

  .topmainstorebtn {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .storebtnapple{
    text-align: center;
  }

  .topmain-store-btn-apple{
    margin-top: 0.6em;
  }

  .storebtngoogleplay{
    text-align: center;
  }

  .descriptioncolomn2 {
    overflow: visible;
    height: auto;
    max-height: none;
    margin-top: 0px;
  }
  .btn-google-position {
    padding: 0;
    text-align: center;
  }
  .btn-apple-position {
    padding-right: 0px;
    text-align: center;
  }

  .topmainbottombox {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    max-height: 600px;
  }
  .topmainbottombox.sectiontop {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    height: auto;
    max-height: 540px;
    max-width: none;
    min-height: 540px;
    margin-top: -27vw;
    margin-bottom: 0px;
    padding-top: 0px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-size: 4px 4px;
  }
  .container-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .title_features {
    margin-bottom: 0px;
  }
  .title_features.title_1row {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main_text01 {
    padding-right: 0px;
  }
  .sectiondescription {
    margin-right: 0px;
    margin-left: 0px;
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    font-size: 1.4rem;
    line-height: 160%;
    letter-spacing: .12rem;
  }
  .name.corseinfo {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 16px;
    line-height: 1.6em;
  }
  .corseinfo.text-blockr {
    display: block;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 16px;
    line-height: 1.6em;
  }
  .corsesub {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
  }
  .corsethumb {
    display: inline-block;
    margin-right: 0px;
  }
  .corsetitle {
    min-height: auto;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.6em;
  }
  .sectiontitle {
    font-size: 28px;
  }
  .link-block {
    margin-bottom: 0px;
  }
  .text-block-3.corsesubtitle {
    margin-top: 10px;
    padding: 10px 20px;
    text-align: left;
  }
  .features {
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-block {
    position: static;
    margin-bottom: 20px;
  }
  .maincontents {
    display: block;
    margin: 40px 60px 40px 60px;
    grid-template-areas: "Area-2" "Area";
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .logotitle {
    width: 160px;
    margin-top: 5px;
  }
  .footerhead {
    text-shadow: 1px 1px 6px #000;
  }
  .innerlink {
    text-shadow: 1px 1px 6px #000;
  }
  .outerlink {
    display: inline;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .footerlinkb {
    margin-top: 20px;
    padding-top: 0px;
  }
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .external-link {
    margin-top: 20px;
  }
  .featurescontens {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .featurescontens.features {
    margin-top: 40px;
    padding-top: 0px;
  }
  .icon {
    margin-right: 10px;
  }
  .corsedetailsubtitle {
    letter-spacing: .14rem;
  }
  .corsedetailtitle {
    letter-spacing: .14rem;
  }
  .text-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .columns-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .corsecontensroute {
    padding-right: 20px;
    padding-left: 20px;
  }
  .corsecontensdetail {
    padding-bottom: 30px;
  }
  .corsecontensguid {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .contactheader {
    min-height: auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.6em;
  }
  .form-2 {
    overflow: auto;
    width: auto;
    max-width: none;
    min-width: auto;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    padding-right: 10px;
  }
  .form-block {
    max-width: none;
  }
  .section-4 {
    width: auto;
    max-width: 747px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .inquirydetail {
    margin-top: 0px;
    border-style: none;
    border-width: 1px;
    border-color: #9aa1a4;
  }
  .columns-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    margin-top: 60px;
    float: none;
    clear: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    text-align: center;
  }
  .columns-12 {
    max-width: none;
  }
  .column-14 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-16 {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-style: solid;
    border-width: 1px;
    border-color: #9aa1a4;
  }
  .column-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .plyvacytermsheader {
    width: auto;
    max-width: 747px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .p_policy {
    margin-top: 10px;
    letter-spacing: .14rem;
  }
  .footersociallink {
    position: absolute;
    bottom: -3%;
    min-width: 500px;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 6px #000;
  }
  .topcoursemenu {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container-8 {
    bottom: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .confirmation {
    overflow: auto;
    width: auto;
    max-width: none;
    min-width: auto;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    padding-right: 10px;
  }
  .container-9 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-2.footerllinkb {
    grid-auto-flow: column;
    grid-column-gap: 0px;
    -ms-grid-columns: minmax(335px, 2.75fr) minmax(200px, 5.5fr);
    grid-template-columns: minmax(335px, 2.75fr) minmax(200px, 5.5fr);
    -ms-grid-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
    grid-template-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
  }
  .right-arrow {
    overflow: visible;
    margin-bottom: 0px;
  }
  .maincopyarea {
    top: 0%;
    overflow: visible;
    height: auto;
    max-height: 550px;
    margin-top: -3%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .slide1 {
    position: relative;
    bottom: auto;
  }
  .slide4 {
    bottom: auto;
    background-position: 70% 50%;
  }
  .container-12 {
    margin-top: 0px;
  }
  .column-19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #appear-btn {
    position:fixed;
    bottom:0;
    width:100%;
    max-height:140px;
    text-align:center;
  }
  #appear-btn a {
    display:block;
    width:100%;
    text-decoration:none;
  }
  #appear-btn a:hover {
    opacity:0.8;
  }

  #appear-btn ul {
    list-style-type: none; /*箇条書きのポッチを消す*/
    text-align:center ;/*左右中央寄せは親要素に対して指定*/
    padding-left:0;
    margin-bottom: 0;
  }
  #appear-btn ul li {
    display: inline-block;
  }

}

@media (max-width: 479px) {
  .sitetop.topmain {
    height: 550px;
    max-height: 550px;
    min-height: 550px;
    background-color: transparent;
    opacity: 1;
  }

 .CourseDettailtop {
    background-color: transparent;
    opacity: 1;
  }

  .navbar {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  .logo-img {
    width: 30px;
    margin: auto 5px;
    max-width: none;
    min-height: auto;
    min-width: auto;
  }
  .brand-block {
    margin-top: 5px;
  }
  .topmaincatchphrase {
    font-size: 34px;
    line-height: 38px;
  }
  .topmaincatchphrase.view3 {
    width: 89vw;
    margin: 100px auto 5px;
    font-size: 19px;
    letter-spacing: 1.5px;
  }
  .topmaincatchphrase.view3.keep {
    width: 95vw;
    margin-top: 25vw;
    font-size: 20px;
    letter-spacing: .14rem;
  }
  .divider.grey {
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .mainsubtext {
    width: auto;
    max-width: none;
    margin: 5px 10px 10px;
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0.4vw;
  }
  .footermenu {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .iconwrapper {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .iconwrapper.push-top {
    padding-bottom: 0px;
  }
  .coursewrapper.boxshadow {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition-property: none;
    transition-property: none;
  }
  .project-info {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .menu-button {
    margin-right: 10px;
  }
  .topmain-store-btn-google .topmain-store-btn-googleapple{
    display: block;
    overflow: visible;
    max-width: 100%;
    min-height: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .topmainstorebtn {
    display: block;
    min-height: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    clear: both;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .topmainstorebtn:hover {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }


  .descriptioncolomn2 {
    margin-top: 0px;
  }

  .btn-google-position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 44%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 0;
    padding-right: 0;
    clear: both;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .btn-apple-position{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 44%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .topmainbottombox.sectiontop {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    display: block;
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: none;
    min-height: auto;
    min-width: auto;
    margin: 0px auto;
    padding: 0px;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: rgba(0, 0, 0, 0.55);
    background-image: url('../../../images/elf/pat_16pat_15.png');
    background-position: 50% 50%;
    background-size: 4px 4px;
  }
  .title_features {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.6em;
    text-align: center;
    letter-spacing: .14rem;
  }
  .title_features.title_1row {
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    letter-spacing: .14rem;
  }
  .main_text01 {
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: .14rem;
  }
  .column-1 {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .column-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-3 {
    min-height: 130px;
  }
  .sectiondescription {
    margin-top: 2rem;
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: normal;
  }
  .name.corseinfo {
    max-width: 200px;
    font-size: 14px;
  }
  .corseinfo.text-blockr {
    padding-right: 0px;
    font-size: 14px;
  }
  .corsesub {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .corsethumb {
    -webkit-perspective: 0px;
    perspective: 0px;
    -webkit-transform: perspective(0px);
    transform: perspective(0px);
  }
  .corsetitle {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 28px;
  }
  .sectiontitle {
    font-size: 22px;
  }
  .text-block-3.corsesubtitle {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .features {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    opacity: 1;
  }
  .maincontents {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  .guidname {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logotitle {
    width: 130px;
    margin: auto 0;
    text-align: left;
  }
  .footerhead {
    width: 280px;
    max-width: 280px;
    margin-left: 0px;
  }
  .footerhead.footerlinka {
    max-width: 400px;
  }
  .containerjump {
    margin-bottom: 20px;
  }
  .innerlink {
    padding-left: 37px;
  }
  .footerlinka {
    padding-left: 10px;
  }
  .image-7 {
    max-width: 100%;
    margin-left: 40px;
  }
  .image-8 {
    max-width: 100%;
    margin-right: 0px;
    margin-left: -1px;
  }
  .image-9 {
    max-width: 100%;
  }
  .featurescontens.features {
    position: relative;
    margin-top: 0px;
    padding-top: 10px;
    clear: none;
  }
  .corsedetailsubtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0.3em;
  }
  .corsedetailtitle {
    margin-top: 20px;
    font-size: 17px;
    line-height: 2em;
    letter-spacing: 0.1em;
    text-transform: none;
  }
  .text-block-4 {
    margin-bottom: 10px;
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    font-size: 13px;
  }
  .paragraph-2 {
    margin-top: 10px;
    text-align: right;
  }
  .imgguidphoto {
    width: 140px;
    height: 140px;
  }
  .heading {
    font-size: 20px;
  }
  .contactheader {
    height: auto;
    max-height: 114px;
    min-height: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.6em;
  }

  .field-label {
    display: block;
    overflow: visible;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-field {
    min-height: 50px;
    min-width: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .textarea {
    padding-left: 10px;
    font-size: 14px;
  }
  .text-field-2 {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 12px;
  }
  .submit-button {
    display: inline;
    overflow: visible;
    width: 208px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    float: right;
    clear: none;
  }
  .form-2 {
    display: block;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }
  .item {
    overflow: visible;
    max-height: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .inquirer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    max-width: 200px;
    min-height: 75px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 12px;
  }
  .columns-9 {
    overflow: visible;
    max-height: none;
    min-height: auto;
  }
  .section-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .columns-10 {
    max-height: 75px;
    min-height: auto;
  }
  .buck-button {
    margin-top: 20px;
  }
  .inquirydetail {
    min-height: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-style: none;
    border-width: 1px;
    border-color: #9aa1a4;
    font-size: 14px;
    line-height: 1.9em;
    letter-spacing: 0.1em;
  }
  .div-block-6 {
    margin-left: 20px;
    padding-right: 20px;
  }
  .sendcompletely {
    margin-top: 40px;
    font-size: 27px;
  }
  .column-16 {
    padding-right: 9px;
    padding-left: 5px;
  }
  .column-17 {
    overflow: visible;
  }
  .plyvacytermsheader {
    padding-right: 10px;
    padding-left: 10px;
  }
  .p_policy {
    margin-top: 10px;
    margin-right: 0px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: .14rem;
  }
  .footersociallink {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    min-width: 40%;
    margin-top: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-8 {
    margin-bottom: 140px;
    padding-right: 0px;
    padding-left: 10px;
  }
  .image-12 {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 13px;
  }
  .image-13 {
    width: 25px;
    height: 25px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .image-15 {
    width: 16px;
    margin-bottom: 10px;
  }
  .confirmation {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .link_outer.footerlinkb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .grid-2.footerllinkb {
    position: relative;
    margin-left: auto;
    grid-auto-flow: column;
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    -ms-grid-columns: minmax(200px, 4.75fr) minmax(43px, 4.25fr);
    grid-template-columns: minmax(200px, 4.75fr) minmax(43px, 4.25fr);
    -ms-grid-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
    grid-template-rows: minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr) minmax(36px, 0.5fr);
  }
  .mask-2 {
    height: 550px;
    max-height: 550px;
    min-height: 550px;
    margin-left: 0px;
  }
  .right-arrow {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
  }
  .slider {
    height: 550px;
    max-height: 550px;
    min-height: 550px;
  }
  .maincopyarea {
    position: static;
    left: 0%;
    top: 0px;
    right: 0%;
    bottom: auto;
    display: block;
    overflow: visible;
    height: auto;
    max-height: 550px;
    min-height: 550px;
    margin: 10px auto auto;
    padding-bottom: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .slide1 {
    height: auto;
    max-height: 550px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-position: 50% 50%;
  }

  .slide2 {
      max-height: 550px;
      background-position: 50% 50%;
    }

  .slide3 {
    max-height: 550px;
    background-position: 0% 50%;
  }

  .slide4 {
    max-height: 550px;
    background-position: 65% 50%;
  }
  .container-12 {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .form-block-2 {
    max-width: none;
    min-width: auto;
  }
  .section-5 {
    margin-bottom: 10px;
  }

  .image-23 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .icon-4 {
    padding-right: 10px;
  }
  .container-13 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .slide1y {
    max-height: 550px;
    background-position: 50% 50%;
  }
}

#w-node-feea46fa956b-a5abfd95 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-296b7a1a65e9-a5abfd95 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-f9c92a9ff20f-a5abfd95 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-f9c92a9ff20f-a5abfd95 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-6e20a03b4d9a-a5abfd95 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-6e20a03b4d9a-a5abfd95 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-6b6f5d110f80-a5abfd95 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9be17ff6c53d-a5abfd95 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-d5abfd9b {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-d5abfd9b {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-d5abfd9b {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-d5abfd9b {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-d5abfd9b {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-d5abfd9b {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-d5abfd9b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-d5abfd9b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6bc5c7375884-4fabfd9d {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-6bc5c7375886-4fabfd9d {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-6bc5c7375888-4fabfd9d {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-6bc5c7375888-4fabfd9d {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-6bc5c737588a-4fabfd9d {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-6bc5c737588a-4fabfd9d {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-6bc5c737588c-4fabfd9d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6bc5c737588e-4fabfd9d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6b0deb70d00e-43abfd9e {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-6b0deb70d010-43abfd9e {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-6b0deb70d012-43abfd9e {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-6b0deb70d012-43abfd9e {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-6b0deb70d014-43abfd9e {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-6b0deb70d014-43abfd9e {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-6b0deb70d016-43abfd9e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6b0deb70d018-43abfd9e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2cec4adcaca7-81abfd9f {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-2cec4adcaca9-81abfd9f {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-2cec4adcacab-81abfd9f {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-2cec4adcacab-81abfd9f {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-2cec4adcacad-81abfd9f {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-2cec4adcacad-81abfd9f {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-2cec4adcacaf-81abfd9f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2cec4adcacb1-81abfd9f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fc492fbd9b52-dcabfda0 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-fc492fbd9b54-dcabfda0 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-fc492fbd9b56-dcabfda0 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-fc492fbd9b56-dcabfda0 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-fc492fbd9b58-dcabfda0 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-fc492fbd9b58-dcabfda0 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-fc492fbd9b5a-dcabfda0 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fc492fbd9b5c-dcabfda0 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-293f7da52108-dfabfda1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-293f7da5210a-dfabfda1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-293f7da5210c-dfabfda1 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-293f7da5210c-dfabfda1 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-293f7da5210e-dfabfda1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-293f7da5210e-dfabfda1 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-293f7da52110-dfabfda1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-293f7da52112-dfabfda1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5f094bdc8ba9-b9abfda2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-5f094bdc8bab-b9abfda2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-5f094bdc8bad-b9abfda2 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-5f094bdc8bad-b9abfda2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-5f094bdc8baf-b9abfda2 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-5f094bdc8baf-b9abfda2 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-5f094bdc8bb1-b9abfda2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5f094bdc8bb3-b9abfda2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-10b4d7935920-40abfda3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-10b4d7935922-40abfda3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-10b4d7935924-40abfda3 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-10b4d7935924-40abfda3 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-10b4d7935926-40abfda3 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-10b4d7935926-40abfda3 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-10b4d7935928-40abfda3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-10b4d793592a-40abfda3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5f1cf675af61-8dabfda4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-5f1cf675af63-8dabfda4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-5f1cf675af65-8dabfda4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-5f1cf675af65-8dabfda4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-5f1cf675af67-8dabfda4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-5f1cf675af67-8dabfda4 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-5f1cf675af69-8dabfda4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5f1cf675af6b-8dabfda4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-46abfdaa {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-46abfdaa {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-46abfdaa {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-46abfdaa {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-46abfdaa {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-46abfdaa {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-46abfdaa {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-46abfdaa {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-52abfdab {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-52abfdab {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-52abfdab {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-52abfdab {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-52abfdab {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-52abfdab {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-52abfdab {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-52abfdab {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-afabfdac {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-afabfdac {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-afabfdac {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-afabfdac {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-afabfdac {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-afabfdac {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-afabfdac {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-afabfdac {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-ecabfdaf {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-ecabfdaf {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-ecabfdaf {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-ecabfdaf {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-ecabfdaf {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-ecabfdaf {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-ecabfdaf {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-ecabfdaf {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-bbabfdb1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-bbabfdb1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-bbabfdb1 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-bbabfdb1 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-bbabfdb1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-bbabfdb1 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-bbabfdb1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-bbabfdb1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-77abfdb3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-77abfdb3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-77abfdb3 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-77abfdb3 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-77abfdb3 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-77abfdb3 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-77abfdb3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-77abfdb3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-56abfdb5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-56abfdb5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-56abfdb5 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-56abfdb5 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-56abfdb5 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-56abfdb5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-56abfdb5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-56abfdb5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0a8-26abfdb7 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-0b7de2e1b0aa-26abfdb7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-0b7de2e1b0ac-26abfdb7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-9;
}

@media screen and (max-width: 479px) {
  #w-node-0b7de2e1b0ac-26abfdb7 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: Area-9;
  }
}

#w-node-0b7de2e1b0ae-26abfdb7 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

@media screen and (max-width: 991px) {
  #w-node-0b7de2e1b0ae-26abfdb7 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: Area-8;
  }
}

#w-node-0b7de2e1b0b0-26abfdb7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b7de2e1b0b2-26abfdb7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}


p.tbl-r02 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}

table {
  margin: 20px auto;
}
.tbl-r02 th {
  width: 30%;
  background: #F2F2F2;
  border: solid 1px #9AA1A4;
  color: #333;
  padding: 10px;
}
.tbl-r02 td {
  width: 70%;
  border: solid 1px #9AA1A4;
  color: #333;
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #9AA1A4;
    width: 100%;
  }
  .tbl-r02 {
    width: 80%;
  }
  .tbl-r02 th,
  .tbl-r02 td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}
.link_outer::after {
content: "";
display:inline-block;
width:1em;
height:1em;
background-image: url('../../../images/elf/icon_open_newWindow.svg');
background-repeat: no-repeat;
background-size:contain;
}

.link_outer {
  color: #f5f5f5;
  text-decoration: none;
}

.link_outer.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family:  "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Arial, sans-serif;
  color: #f5f5f5;
}

.link_outer.footerlinkb {
  font-family:  "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Arial, sans-serif;
}

.link_outer.footerlinkb:hover {
  opacity: 0.4;
}

.link_inner.link_outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link_outer.w--current {
  margin-top: 0px;
}
.link_outer.footerlinkb {
  margin-top: 0px;
}

.grid_item_1_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.grid_item_1_2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.grid_item_1_3 {
  -ms-grid-column: 5;
  -ms-grid-row: 1;
}
.grid_item_2_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.grid_item_2_2 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}
.grid_item_2_3 {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}
.grid_item_3_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 5;
}
.grid_item_3_2 {
  -ms-grid-column: 3;
  -ms-grid-row: 5;
}
.grid_item_3_3 {
  -ms-grid-column: 5;
  -ms-grid-row: 5;
}

.grid_foot_1_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.grid_foot_1_2 {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
.grid_foot_2_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}
.grid_foot_2_2 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.grid_foot_3_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.grid_foot_4_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
}
.grid_foot_5_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 5;
}
.grid_foot_6_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 6;
}
.grid_foot_7_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 7;
}

#appear-btn {
  position:fixed;
  bottom:0;
  width:100%;
  padding:2px 0 2px 0;
  text-align:center;
  background-color: rgba(51,51,51,0.5);	 // 背景色
  border-top:2px solid #ffffff; // ボタン上部の縁取りの色
}
#appear-btn a {
  display:block;
  width:100%;
  text-decoration:none;
}
#appear-btn a:hover {
  opacity:0.8;
}

#appear-btn ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:center ;/*左右中央寄せは親要素に対して指定*/
  padding-left:0;
  margin-bottom: 0;
}
#appear-btn ul li {
  display: inline-block;
}

/* ==================================================
スクロールで表示
==================================================*/
.copyright footer{
  position: relative;
}
#appear-btn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.scroll-fade {
  text-align: center;
}

/*　991px ストアボタンの位置*/
@media screen and (max-width: 991px) {
  .topmain-store-btn-apple{
    margin-top: 0.6em;
  }
}

/*---------出現するボタン　サイズ変更 -------------*/
/* @media screen and (max-width: 479px) {
  .appear-btn-content-apple {
      min-width: 102px;
      min-height: 30px;
      margin: 2px 2px;
    }
  .appear-btn-content-googleplay {
        min-width: 106px;
        min-height: 40px;
        margin: 0 3px;
      }
} */
@media screen and (max-width:767.98px){/* 変更点。0.02引く。 */
.appear-btn-content-apple {
    max-width: 130px;
  }
.appear-btn-content-googleplay {
    max-width: 160px;
    max-height: 68px;
    margin: 0 2px;
    }
}

@media screen and (max-width: 991px){
.appear-btn-content-apple {
  width: 204px;
  height: 60px;
  }
.appear-btn-content-googleplay {
  width: 213px;
  height: 82px;
  }
}
